.cta .shape-1484492474452 { background: rgb(17, 17, 17); }

.cta .textBox-1484492587147 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 48px; }

.cta .emailInput-1484492643508 { border-width: 0px 0px 4px; border-style: none; border-color: rgb(237, 28, 36); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484492643508::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484492782017 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(237, 28, 36); color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 15px; }

.cta .shape-1484492867431 { background: rgba(17, 17, 17, 0.509804); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484492956630 { text-align: center; font-family: Prompt; color: rgb(255, 255, 255); font-size: 20px; }

.cta .shape-1484578806598 { background: rgb(196, 29, 35); border-color: rgb(255, 255, 255); border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484578806609 { background: rgba(17, 17, 17, 0.509804); font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484578806744 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 36px; }

.cta .emailInput-1484578806753 { border-width: 0px 0px 4px; border-style: none; border-color: rgb(237, 28, 36); font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1484578806753::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484578806800 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(237, 28, 36); color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 15px; }

.cta .textBox-1484578806852 { text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 18px; }

.cta .shape-1484492388183 { background: rgb(196, 29, 35); border-color: rgb(255, 255, 255); border-style: none; font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1484492643508:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484492643508::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484492643508:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484578806753:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484578806753::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484578806753:-ms-input-placeholder{ font-size:15px; }

