.cta .textBox-1484746152468 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Roboto Slab"; font-size: 18px; }

.cta .icon-1484746212379 { color: rgb(255, 255, 255); font-family: "Open Sans"; }

.cta .textBox-1484746251515 { font-weight: bold; color: rgb(255, 71, 30); font-family: "Palanquin Dark"; font-size: 38px; }

.cta .image-1484746127941 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484746398185 { background: rgba(0, 0, 0, 0.117647); border-width: 2px; border-color: rgb(255, 255, 255); border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484746497601 { text-align: center; color: rgb(255, 255, 255); font-weight: initial; font-family: "Palanquin Dark"; font-size: 24px; }

.cta .button-1484746616543 { background: rgb(255, 71, 30); border-width: 2px; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-family: "Palanquin Dark"; font-size: 22px; }

.cta .textBox-1484746828675 { text-align: center; color: rgba(255, 255, 255, 0.639216); text-decoration: underline; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484746934687 { background: rgba(0, 0, 0, 0.117647); font-family: "Open Sans"; border-width: 2px; border-style: solid; border-color: rgb(255, 255, 255); font-size: 15px; }

.cta .textBox-1484746967377 { font-weight: bold; color: rgb(255, 71, 30); text-align: center; font-family: "Palanquin Dark"; font-size: 26px; }

.cta .image-1484746967390 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484747003449 { color: rgb(255, 255, 255); font-weight: bold; font-size: 12px; font-family: "Roboto Slab"; }

.cta .icon-1484747003467 { color: rgb(255, 255, 255); font-family: "Open Sans"; }

.cta .textBox-1484747058615 { text-align: center; color: rgb(255, 255, 255); font-weight: initial; font-family: "Palanquin Dark"; font-size: 18px; }

.cta .button-1484747089079 { background: rgb(255, 71, 30); border-width: 2px; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-family: "Palanquin Dark"; font-size: 20px; }

.cta .textBox-1484747089091 { text-align: center; color: rgba(255, 255, 255, 0.639216); text-decoration: underline; font-family: "Open Sans"; font-size: 12px; }

