.cta .textBox-1480481943711 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 40px; }

.cta .button-1480482396921-copyOf433-20161130072914178596 { color: rgb(255, 255, 255); font-weight: bold; background: rgb(231, 76, 60); border-color: rgb(231, 76, 60); font-family: Montserrat; font-size: 15px; }

.cta .textBox-1480482903033 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 40px; }

.cta .textBox-1484660582621 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 20px; }

.cta .textBox-1484660582638 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 20px; }

.cta .button-1484660617262 { color: rgb(255, 255, 255); font-weight: bold; background: rgb(231, 76, 60); border-color: rgb(231, 76, 60); font-size: 15px; font-family: Montserrat; }

.cta .textBox-1484660617274 { color: rgb(252, 252, 252); font-weight: bold; text-decoration: none; font-family: "Comic Sans MS"; }

.cta .image-1480483389416 { font-family: "Open Sans"; }

.cta .image-1484660643007 { font-family: "Open Sans"; }

.cta .shape-1484843573675 { background: rgba(0, 0, 0, 0.278431); }

.cta .shape-1484843628070 { background: rgba(0, 0, 0, 0.278431); }

.cta .textBox-1480483104232 { color: rgb(252, 252, 252); font-family: "Comic Sans MS", cursive, sans-serif; font-weight: bold; text-decoration: none; }

