.cta-lg .shape-1475347548733 { background: rgba(0, 0, 0, 0.498039); }

.cta-lg .textBox-1475347940511 { color: rgb(255, 255, 255); text-align: center; font-weight: bold; font-size: 38px; font-family: "Open Sans"; }

.cta-lg .textBox-1475348563090 { text-align: center; font-size: 18px; font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; }

.cta-lg .emailInput-1475348724305 { text-align: center; color: rgb(218, 223, 225); border-width: 1px; font-weight: bold; font-size: 18px; background: rgba(255, 255, 255, 0.027451); border-color: rgb(189, 195, 199); font-family: "Open Sans"; }

.cta-lg .button-1475348855176 { font-size: 18px; font-weight: bold; border-radius: 0px; background: rgba(255, 255, 255, 0.952941); font-family: "Open Sans"; }

.cta-lg .button-1475348937599 { background: rgba(0, 0, 0, 0.0196078); color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); }

.cta-lg .button-1475348937599:hover, .cta-lg .button-1475348937599:focus, .cta-lg .button-1475348937599:active { background: rgba(0, 0, 0, 0.0196078); }

.cta-lg .textBox-1475347481219 { font-size: 18px; font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; }

.cta-lg .button-1475348855176:hover, .cta-lg .button-1475348855176:focus, .cta-lg .button-1475348855176:active { background: rgba(230, 230, 230, 0.952941); }

.cta .emailInput-1475348724305 { font-family: "Open Sans"; color: rgb(218, 223, 225); font-size: 18px; }

.cta .emailInput-1475348724305::-webkit-input-placeholder { color: rgb(218, 223, 225); font-size: 18px; }

.cta .shape-1475347548733 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1475347458971 { font-family: "Open Sans"; }

.cta .shape-1484620075249 { background: rgba(0, 0, 0, 0.498039); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484620075265 { font-family: "Open Sans"; }

.cta .image-1475689127963 { font-family: "Open Sans"; }

.cta .textBox-1475347481219 { font-family: "Open Sans"; }

.cta .image-1484620113929 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484620113939 { font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; font-size: 16px; text-align: center; }

.cta .textBox-1475347940511 { font-family: "Open Sans"; font-size: 38px; }

.cta .textBox-1475348563090 { font-size: 18px; }

.cta .textBox-1484620207223 { text-align: center; font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; font-size: 14px; }

.cta .textBox-1484620139353 { color: rgb(255, 255, 255); text-align: center; font-weight: bold; font-family: "Open Sans"; font-size: 22px; }

.cta .textBox-1484620191994 { text-align: center; font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; font-size: 18px; }

.cta .emailInput-1484620240106::-webkit-input-placeholder { color: rgb(218, 223, 225); font-size: 18px; }

.cta .button-1475348855176 { font-size: 18px; }

.cta .button-1484620263466:hover, .cta .button-1484620263466:focus, .cta .button-1484620263466:active { background: rgba(230, 230, 230, 0.952941); }

.cta .textBox-1484620197331 { text-align: center; font-weight: bold; color: rgb(238, 238, 238); font-family: "Open Sans"; font-size: 18px; }

.cta .emailInput-1484620240106 { text-align: center; border-width: 1px; font-weight: bold; background: rgba(255, 255, 255, 0.027451); border-color: rgb(189, 195, 199); font-family: "Open Sans"; color: rgb(218, 223, 225); font-size: 18px; }

.cta .button-1484620263466 { font-weight: bold; border-radius: 0px; background: rgba(255, 255, 255, 0.952941); font-family: "Open Sans"; font-size: 18px; }

.cta .emailInput-1475348724305:-moz-placeholder{ font-size:18px; color:rgb(218, 223, 225); }

.cta .emailInput-1475348724305::-moz-placeholder{ font-size:18px; color:rgb(218, 223, 225); }

.cta .emailInput-1475348724305:-ms-input-placeholder{ font-size:18px; color:rgb(218, 223, 225); }

