.cta-sm .shape-1478828400423 { background: rgb(255, 255, 255); }

.cta-lg { background: rgba(255, 255, 255, 0.00784314); }

.cta-lg .shape-1475010866540 { border-right-color: rgb(107, 185, 240); }

.cta-lg .textBox-1475010897434 { border-radius: 10px; background: rgb(107, 185, 240); }

.cta-lg .shape-1475012327115 { background: rgb(255, 255, 255); }

.cta-lg .textBox-1475012606375 { text-align: center; color: rgb(255, 255, 255); font-size: 25px; font-weight: initial; }

.cta-lg .button-1475012432921 { text-align: center; background: rgba(0, 0, 0, 0.027451); border-radius: 10px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); border-width: 3.5px; font-size: 18px; font-weight: bold; }

.cta-lg .button-1475012432921:hover, .cta-lg .button-1475012432921:focus, .cta-lg .button-1475012432921:active { background: rgba(0, 0, 0, 0.027451); }

.cta-sm .textBox-1475688009824 { border-radius: 10px; background: rgb(107, 185, 240); }

.cta-sm .shape-1475010306860 { border-left-color: rgb(107, 185, 240); }

.cta-sm .button-1475688179361 { font-size: 20px; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0.00784314); border-width: 3px; border-color: rgb(255, 255, 255); border-radius: 10px; font-weight: bold; }

.cta-sm .button-1475688179361:hover, .cta-sm .button-1475688179361:focus, .cta-sm .button-1475688179361:active { background: rgba(0, 0, 0, 0.00784314); }

.cta-sm { background: rgba(255, 255, 255, 0.00784314); }

.cta-sm .textBox-1475012606375 { color: rgb(255, 255, 255); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 25px; }

.cta .textBox-1475688009824 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1475688179361 { font-family: "Open Sans"; font-size: 20px; }

.cta .image-1475010152177 { font-size: 15px; }

.cta .button-1475012432921 { font-size: 18px; }

.cta .image-1475164083516 { font-size: 15px; }

.cta .textBox-1483712737982 { color: rgb(255, 255, 255); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 25px; }

