.cta .textBox-1484808262346 { font-weight: bold; color: rgb(255, 255, 255); text-align: left; font-family: "Archivo Narrow"; font-size: 26px; }

.cta .textBox-1484808312480 { font-weight: bold; color: rgb(255, 255, 255); border-width: 3px; border-style: solid; border-color: rgb(255, 255, 255); font-family: "Archivo Narrow"; font-size: 55px; }

.cta .emailInput-1484808600342 { border-style: none; border-color: rgb(204, 204, 204); font-size: 15px; font-family: "Open Sans"; }

.cta .button-1484808649164 { border-style: none; border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-weight: bold; background: rgb(255, 163, 67); font-family: "Archivo Narrow"; font-size: 20px; }

.cta .shape-1484808745700 { background: rgba(31, 31, 31, 0.592157); font-family: "Open Sans"; font-size: 15px; }

.cta .icon-1484809057704 { color: rgba(0, 0, 0, 0.227451); font-family: "Open Sans"; }

.cta .textBox-1484809122286 { color: rgba(0, 0, 0, 0.227451); font-weight: bold; font-style: initial; text-align: left; font-family: "Archivo Narrow"; font-size: 15px; }

.cta .emailInput-1484808600342::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484809682659 { font-weight: bold; color: rgb(255, 255, 255); border-width: 3px; border-style: solid; border-color: rgb(255, 255, 255); font-family: "Archivo Narrow"; font-size: 34px; }

.cta .textBox-1484809725546 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; font-family: "Archivo Narrow"; font-size: 20px; }

.cta .shape-1484809762328 { background: rgba(31, 31, 31, 0.592157); font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1484809781564 { border-style: none; border-color: rgb(204, 204, 204); font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1484809781564::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484809781576 { border-style: none; border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-weight: bold; background: rgb(255, 163, 67); font-family: "Archivo Narrow"; font-size: 15px; }

.cta .image-1484840309262 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484840238286 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484808600342:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-ms-input-placeholder{ font-size:15px; }

