.cta-lg .textBox-1477701523969 { font-size: 30px; color: rgb(254, 254, 254); font-weight: bold; font-family: "Open Sans"; }

.cta-lg .textBox-1477701608255 { color: rgb(254, 254, 254); font-size: 18px; font-family: "Open Sans"; }

.cta-lg .button-1477701929469 { border-radius: 40px; border-style: none; background: rgb(230, 77, 112); color: rgb(255, 255, 255); font-weight: bold; font-size: 17px; font-family: "Open Sans"; }

.cta-lg .button-1477701929469:hover, .cta-lg .button-1477701929469:focus, .cta-lg .button-1477701929469:active { background: rgb(224, 32, 76); }

.cta-lg .shape-1477701457807 { background: rgba(30, 30, 32, 0.701961); }

.cta-lg .button-1477702691888 { font-family: Lato; font-weight: bold; font-size: 17px; }

.cta-sm .textBox-1477702691771 { font-family: Lato; font-size: 30px; color: rgb(255, 255, 255); font-weight: bold; }

.cta-sm .textBox-1477702691827 { font-size: 18px; font-family: Lato; color: rgb(255, 255, 255); }

.cta-sm .button-1477702691888 { font-family: Lato; font-size: 17px; background: rgb(224, 32, 76); color: rgb(255, 255, 255); font-weight: bold; border-style: none; border-radius: 100px; }

.cta-sm .button-1477702691888:hover, .cta-sm .button-1477702691888:focus, .cta-sm .button-1477702691888:active { background: rgb(180, 25, 61); }

.cta .button-1477701929469 { font-family: "Open Sans"; font-size: 17px; }

.cta .shape-1477701457807 { font-size: 15px; }

.cta .textBox-1477702691771 { font-family: Lato; font-size: 30px; }

.cta .textBox-1477702691827 { font-size: 18px; }

.cta .button-1477702691888 { font-size: 17px; }

.cta-sm .shape-1477702691677 { background: rgba(30, 30, 32, 0.701961); }

