.cta .textInput-1478832150723 { font-family: "Open Sans"; font-size: 15px; color: rgb(111, 111, 111); }

.cta .textInput-1478832150723::-webkit-input-placeholder { font-size: 15px; color: rgb(111, 111, 111); }

.cta .emailInput-1478832436617::-webkit-input-placeholder { color: rgb(111, 111, 111); }

.cta .emailInput-1478832436617 { color: rgb(111, 111, 111); }

.cta .passwordInput-1478832665533::-webkit-input-placeholder { color: rgb(111, 111, 111); }

.cta .passwordInput-1478832665533 { color: rgb(111, 111, 111); }

.cta .textInput-1478832777273::-webkit-input-placeholder { color: rgb(111, 111, 111); }

.cta .textInput-1478832777273 { color: rgb(111, 111, 111); }

.cta-lg .textBox-1478831987906 { color: rgb(255, 255, 255); font-weight: bold; font-size: 50px; font-family: "Open Sans"; }

.cta-lg .textBox-1478832094443 { color: rgb(255, 255, 255); font-size: 20px; font-family: "Open Sans"; }

.cta-lg .textInput-1478832150723 { border-radius: 50px; border-style: none; }

.cta-lg .image-1478831881470 { background: rgb(30, 30, 32); }

.cta-lg .shape-1478832353460 { background: rgba(30, 30, 32, 0.701961); }

.cta-lg .emailInput-1478832436617 { border-radius: 50px; border-style: none; }

.cta-lg .passwordInput-1478832665533 { border-radius: 50px; border-style: none; }

.cta-lg .textInput-1478832777273 { border-radius: 50px; border-style: none; }

.cta-lg .button-1478833096783 { border-radius: 50px; border-width: 5px; font-family: Raleway; color: rgb(255, 255, 255); font-weight: bold; font-size: 25px; border-style: ridge; background: rgba(0, 0, 0, 0.631373); border-color: rgb(248, 148, 6); }

.cta-lg .button-1478833096783:hover, .cta-lg .button-1478833096783:focus, .cta-lg .button-1478833096783:active { background: rgba(0, 0, 0, 0.631373); }

.cta-lg .textBox-1478833618988 { font-family: Raleway; color: rgb(141, 150, 151); }

.cta .image-1484631017863 { background: rgb(30, 30, 32); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484631017876 { background: rgba(30, 30, 32, 0.701961); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484631017913 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 50px; }

.cta .textBox-1484631017933 { color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 20px; }

.cta .textInput-1484631017953 { color: rgb(111, 111, 111); border-radius: 50px; border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .textInput-1484631017953::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta .emailInput-1484631017973::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta .emailInput-1484631017973 { color: rgb(111, 111, 111); border-radius: 50px; border-style: none; font-size: 15px; font-family: "Open Sans"; }

.cta .passwordInput-1484631017993::-webkit-input-placeholder { color: rgb(111, 111, 111); }

.cta .textInput-1484631018026::-webkit-input-placeholder { color: rgb(111, 111, 111); }

.cta .button-1484631018047 { border-radius: 50px; border-width: 5px; color: rgb(255, 255, 255); font-weight: bold; border-style: ridge; background: rgba(0, 0, 0, 0.631373); border-color: rgb(248, 148, 6); font-family: Raleway; font-size: 25px; }

.cta .button-1484631018047:hover, .cta .button-1484631018047:focus, .cta .button-1484631018047:active { background: rgba(0, 0, 0, 0.631373); }

.cta .textBox-1484631018068 { color: rgb(141, 150, 151); font-size: 15px; text-align: center; font-family: Raleway; }

.cta .passwordInput-1484631017993 { color: rgb(111, 111, 111); border-radius: 50px; border-style: none; }

.cta .textInput-1484631018026 { color: rgb(111, 111, 111); border-radius: 50px; border-style: none; }

.cta .textInput-1478832150723:-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .textInput-1478832150723::-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .textInput-1478832150723:-ms-input-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1478832436617:-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .emailInput-1478832436617::-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .emailInput-1478832436617:-ms-input-placeholder{ color:rgb(111, 111, 111); }

.cta .passwordInput-1478832665533:-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .passwordInput-1478832665533::-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .passwordInput-1478832665533:-ms-input-placeholder{ color:rgb(111, 111, 111); }

.cta .textInput-1478832777273:-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .textInput-1478832777273::-moz-placeholder{ color:rgb(111, 111, 111); }

.cta .textInput-1478832777273:-ms-input-placeholder{ color:rgb(111, 111, 111); }

.cta .textInput-1484631017953:-moz-placeholder{ font-size:15px; }

.cta .textInput-1484631017953::-moz-placeholder{ font-size:15px; }

.cta .textInput-1484631017953:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484631017973:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484631017973::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484631017973:-ms-input-placeholder{ font-size:15px; }

