.cta .textBox-1484453046799 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Raleway; font-size: 36px; }

.cta .textBox-1484453382457 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Raleway; font-size: 20px; }

.cta .button-1484453646678-copyOf662-20170115002836240365 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold; background: rgb(29, 230, 104); font-family: Raleway; font-size: 18px; }

.cta .textBox-1484453776085 { text-align: center; font-weight: bold; color: rgb(255, 255, 255); font-family: Raleway; font-size: 16px; }

.cta .shape-1484453255164 { background: rgba(0, 0, 0, 0.117647); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484454347530 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484457009637 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484656308620 { background: rgb(2, 164, 228); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484656324769 { background: rgba(0, 0, 0, 0.117647); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484656335490 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Raleway; font-size: 26px; }

.cta .textBox-1484656335510 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: Raleway; font-size: 18px; }

.cta .button-1484656361800 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold; background: rgb(29, 230, 104); font-family: Raleway; font-size: 18px; }

.cta .textBox-1484656361818 { text-align: center; font-weight: bold; color: rgb(255, 255, 255); font-family: Raleway; font-size: 16px; }

.cta .image-1484656361836 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484452918376 { background: rgb(2, 164, 228); font-family: "Open Sans"; font-size: 15px; }

