.cta-lg .textBox-1475953531276 { color: rgb(255, 255, 255); font-weight: bold; font-size: 35px; font-family: "Open Sans"; }

.cta-sm .textBox-1475953531276 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 35px; }

.cta-sm .button-1475954122128 { border-right-width: 4px; border-color: rgb(105, 84, 227); color: rgb(230, 230, 230); font-weight: bold; background: rgb(109, 118, 209); border-radius: 6px; border-bottom-width: 4px; }

.cta-lg .button-1475954122128 { border-right-width: 4px; border-color: rgb(105, 84, 227); color: rgb(230, 230, 230); font-weight: bold; border-radius: 6px; border-bottom-width: 4px; background: rgb(109, 118, 209); }

.cta-sm .button-1475954122128:hover, .cta-sm .button-1475954122128:focus, .cta-sm .button-1475954122128:active { background: rgb(70, 82, 197); }

.cta-lg .button-1475954122128:hover, .cta-lg .button-1475954122128:focus, .cta-lg .button-1475954122128:active { background: rgb(70, 82, 197); }

.cta-sm .textBox-1476204298999 { color: rgb(109, 118, 209); font-weight: bold; font-size: 15px; }

.cta-lg .textBox-1476204298999 { color: rgb(109, 118, 209); font-weight: bold; font-size: 15px; }

.cta-sm .emailInput-1476204460600 { border-radius: 4px; }

.cta-lg .emailInput-1476204460600 { border-radius: 4px; }

.cta-lg .textBox-1476206325128 { background: rgba(0, 0, 0, 0.4); }

.cta-sm .textBox-1476206325128 { background: rgba(0, 0, 0, 0.4); }

.cta .image-1478554240287 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484624722356 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1475953531276 { font-size: 35px; }

.cta .textBox-1484624767779 { color: rgb(109, 118, 209); font-weight: bold; font-size: 15px; }

.cta .emailInput-1476204460600 { font-family: "Open Sans"; }

.cta .button-1475954122128 { font-family: "Open Sans"; }

.cta .emailInput-1484624781878 { border-radius: 4px; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484624781878::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484624737645 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 22px; }

.cta .button-1484624781891 { border-right-width: 4px; border-color: rgb(105, 84, 227); color: rgb(230, 230, 230); font-weight: bold; border-radius: 6px; border-bottom-width: 4px; background: rgb(109, 118, 209); font-family: "Open Sans"; }

.cta .button-1484624781891:hover, .cta .button-1484624781891:focus, .cta .button-1484624781891:active { background: rgb(70, 82, 197); }

.cta .emailInput-1484624781878:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484624781878::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484624781878:-ms-input-placeholder{ font-size:15px; }

