.cta .shape-1484892572573 { font-family: "Open Sans"; background: rgb(255, 255, 255); border-radius: 10px; border-color: transparent; border-style: solid; font-size: 15px; }

.cta .shape-1484892694155 { background: rgba(237, 237, 237, 0.490196); font-size: 15px; }

.cta .textBox-1484892794521 { font-weight: bold; font-size: 19px; font-family: "Open Sans"; }

.cta .image-1484892605519 { font-size: 15px; }

.cta .textBox-1484892884319 { font-weight: bold; color: rgb(25, 116, 210); font-family: "Open Sans"; font-size: 48px; }

.cta .button-1484893039344 { font-size: 15px; background: rgb(31, 117, 254); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; }

.cta .textBox-1484893132828 { text-align: center; color: rgba(34, 34, 34, 0.592157); text-decoration: none; font-size: 13px; }

.cta .shape-1484893286173 { background: rgb(255, 255, 255); border-radius: 10px; border-color: transparent; border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta-14848923588690 { background: rgba(0, 0, 0, 0); }

.cta .image-1484893312208 { font-size: 15px; }

.cta .shape-1484893336178 { background: rgba(237, 237, 237, 0.490196); font-size: 15px; }

.cta .textBox-1484893366524 { font-weight: bold; font-family: "Open Sans"; text-align: center; font-size: 14px; }

.cta .textBox-1484893366555 { font-weight: bold; color: rgb(25, 116, 210); font-family: "Open Sans"; font-size: 26px; }

.cta .emailInput-1484893016137 { font-family: "Open Sans"; }

.cta .emailInput-1484893432031 { font-family: "Open Sans"; font-size: 12px; }

.cta .button-1484893432049 { background: rgb(31, 117, 254); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 12px; }

.cta .emailInput-1484893432031::-webkit-input-placeholder { font-size: 12px; }

.cta-14848923588691 { background: rgba(0, 0, 0, 0); }

.cta .emailInput-1484889530841:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484890538359:-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359::-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359:-ms-input-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031:-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031::-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031:-ms-input-placeholder{ font-size:12px; }

