.cta-lg .textBox-1478552071531 { font-family: Montserrat; font-size: 53px; font-weight: initial; background: rgba(0, 0, 0, 0); color: rgb(246, 199, 49); }

.cta-lg .textBox-1478552483145 { background: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); }

.cta-lg .shape-1478552027290 { background: rgba(30, 30, 32, 0.690196); }

.cta-lg .textBox-1478717192659 { font-family: Montserrat; font-size: 35px; font-weight: bold; color: rgb(255, 255, 255); }

.cta-lg .textBox-1478717294893 { font-family: Montserrat; font-weight: bold; font-size: 70px; color: rgb(246, 199, 49); }

.cta-lg .textBox-1478717325108 { font-weight: initial; font-size: 20px; text-align: center; font-family: Montserrat; color: rgb(255, 255, 255); }

.cta-lg .textBox-1478717547875 { color: rgb(246, 199, 49); }

.cta-lg .emailInput-1478717615514 { background: rgba(0, 0, 0, 0.117647); border-width: 3px; border-radius: 10px; color: rgb(255, 255, 255); }

.cta-lg .button-1478717778402 { font-family: Montserrat; font-size: 22px; border-width: 5px; color: rgb(246, 199, 49); font-weight: initial; border-color: rgb(246, 199, 49); border-style: ridge; background: rgba(108, 122, 137, 0.137255); }

.cta-lg .button-1478717778402:hover, .cta-lg .button-1478717778402:focus, .cta-lg .button-1478717778402:active { background: rgba(86, 97, 108, 0.137255); }

.cta-lg .button-1478717919319 { font-family: Montserrat; font-size: 22px; font-weight: bold; background: rgba(0, 0, 0, 0); border-style: solid; color: rgb(126, 135, 135); border-color: rgb(126, 135, 135); }

.cta-lg .button-1478717919319:hover, .cta-lg .button-1478717919319:focus, .cta-lg .button-1478717919319:active { background: rgba(0, 0, 0, 0); }

.cta-sm .shape-1478823668738 { background: rgba(30, 30, 32, 0.690196); }

.cta-sm .textBox-1478823668750 { font-family: Montserrat; font-size: 53px; font-weight: initial; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

.cta-sm .textBox-1478823668848 { background: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); }

.cta-sm .textBox-1478823668908 { font-family: Montserrat; font-size: 35px; font-weight: bold; color: rgb(255, 255, 255); }

.cta-sm .textBox-1478823668922 { font-family: Montserrat; font-weight: bold; font-size: 70px; color: rgb(246, 199, 49); }

.cta-sm .textBox-1478823668972 { font-weight: initial; font-size: 20px; text-align: center; font-family: Montserrat; color: rgb(255, 255, 255); }

.cta-sm .textBox-1478823669025 { color: rgb(246, 199, 49); }

.cta-sm .emailInput-1478823669080 { background: rgba(0, 0, 0, 0.117647); border-width: 3px; border-radius: 10px; color: rgb(255, 255, 255); }

.cta-sm .button-1478823669136 { font-family: Montserrat; font-size: 22px; border-width: 5px; color: rgb(246, 199, 49); font-weight: initial; border-color: rgb(246, 199, 49); border-style: ridge; background: rgba(108, 122, 137, 0.137255); }

.cta-sm .button-1478823669136:hover, .cta-sm .button-1478823669136:focus, .cta-sm .button-1478823669136:active { background: rgba(86, 97, 108, 0.137255); }

.cta .shape-1478823668738 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1478823669136 { font-family: Montserrat; font-size: 22px; }

.cta .textBox-1478823668922 { font-family: Montserrat; font-size: 70px; }

.cta .textBox-1478823668908 { font-family: Montserrat; font-size: 35px; }

.cta .textBox-1478823668750 { text-align: center; font-family: Montserrat; font-size: 36px; }

.cta .image-1478823668798 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1478823668848 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1478823668972 { font-family: Montserrat; font-size: 18px; }

.cta .emoji-1478558132448 { font-family: "Open Sans"; font-size: 15px; }

.cta .emoji-1478823668859 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1478823669080 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1478823669080::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1478823669025 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1478717919319 { font-family: Montserrat; font-size: 22px; }

.cta .textBox-1484633141655 { text-align: center; text-decoration: underline; color: rgb(195, 195, 195); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1478823669080:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1478823669080::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1478823669080:-ms-input-placeholder{ font-size:15px; }

