<div top-navigation title="Password Settings"></div>
<section class="document">
    <div left-navigation></div>
    
    <div class="inner-container">
        <div settings-navigation></div>
        <div class="settings-container" style="height: {{innerHeight}}px">
            <h1>Password Settings</h1>
            
            <div class="form form-limited" style="width: 400px">
                <div class="form-row">
                    <div class="error-label" ng-if="errors.oldPassword"  ng-bind="errors.oldPassword"></div>
                    <label>Old Password</label>
                    <input type="password" ng-model="object.oldPassword" class="form-control" />
                </div>
                <div class="form-row fail">
                    <div class="error-label" ng-if="errors.newPassword"  ng-bind="errors.newPassword"></div>
                    <label>New Password</label>
                    <input type="password" ng-model="object.newPassword" class="form-control" />
                </div>
                <div class="form-row ok">
                    <div class="error-label" ng-if="errors.confirmPassword"  ng-bind="errors.confirmPassword"></div>
                    <label>Confirm Password</label>
                    <input type="password" ng-model="object.confirmPassword" class="form-control"/>
                </div>
                <div class="form-row padded">
                    <button ng-click="save()" style="width: 100%" class="btn btn-success">Change Password</button>
                </div>
            </div>
            
        </div>
        
    </div>
</section>       
