.cta .textBox-1484756427167 { text-align: center; font-weight: bold; font-family: Quantico; font-size: 26px; }

.cta .image-1484756231913 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484756545089 { text-align: center; font-weight: bold; font-family: Quantico; color: rgb(43, 108, 196); font-size: 60px; }

.cta .button-1484756621796 { background: rgb(252, 40, 71); color: rgb(255, 255, 255); font-weight: bold; font-family: Quantico; font-size: 22px; }

.cta .shape-1484756805995 { font-family: "Open Sans"; font-size: 15px; background: rgb(43, 108, 196); }

.cta .image-1484757259765 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484757284297 { text-align: center; font-weight: bold; font-family: Quantico; font-size: 16px; }

.cta .textBox-1484757302016 { text-align: center; font-weight: bold; color: rgb(43, 108, 196); font-family: Quantico; font-size: 36px; }

.cta .button-1484757332067 { background: rgb(252, 40, 71); color: rgb(255, 255, 255); font-weight: bold; font-family: Quantico; font-size: 18px; }

.cta .image-1484757376137 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484756204185 { font-family: "Open Sans"; font-size: 15px; }

.cta .textInput-1484754327326:-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326::-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-ms-input-placeholder{ font-size:15px; }

