<div class="integrations-modal">
    
    <h3>Integrate GetResponse</h3>
    
    <div class="form form-limited" style="width: 260px;">
        <div class="form-row">
            <label>GetResponse API KEY</label>
            <input ng-model="userOptions['getresponse.api_key']" class="form-control" />
        </div>
    
        <div class="form-row padded">
            <button ng-click="save()" style="width: 100%" class="btn btn-success">
                Integrate Now
            </button>
        </div>
    </div>
</div>
        
