<div class="integrations-modal">
    
    <h3>Google Analytics</h3>
    
    <div class="form form-limited" style="width: 260px;">
        <div class="form-row">
            <label>Tracking code (UA-XXXXXX-Y)</label>
            <input ng-model="userOptions['googleanalytics.tracking_code']" class="form-control" />
        </div>
    
        <div class="form-row padded">
            <button ng-click="save()" style="width: 100%" class="btn btn-success">
                Integrate Now
            </button>
        </div>
    </div>
</div>
        
