<div top-navigation title="Integrations: Select Client"></div>

<section class="document">
    <div left-navigation></div>
    
    <div class="inner-container" style="background: #f8f8f8; height: {{ innerHeight - 60 }}px">

        <div class="clients-selector">
            <div class="header">
                <div class="manage-defaults form">
                    <a 
                        class="btn btn-success"
                        href="#/integrations/default"
                    >
                        Manage Default Integrations
                    </a>
                </div>
                <h1>Select A Client</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-click="sortByName()">
                            Client Name
                            <i ng-if="sortOrder[0] === 'client_name'" class="fa fa-chevron-up"></i>
                            <i ng-if="sortOrder[0] === '-client_name'" class="fa fa-chevron-down"></i>
                        </th>
                        <th ng-click="sortByUrl()">
                            Client URL
                            <i ng-if="sortOrder[0] === 'client_url'" class="fa fa-chevron-up"></i>
                            <i ng-if="sortOrder[0] === '-client_url'" class="fa fa-chevron-down"></i>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in clients | orderBy: sortOrder" ng-click="select(row)">
                        <td style="width:30px"></td>
                        <td ng-bind="row.client_name"></td>
                        <td ng-bind="row.client_url"></td>
                        <td style="width:30px">
                            <i class="fa fa-chevron-right"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</section>