.cta .textBox-1484810476973 { font-weight: bold; color: rgba(0, 0, 0, 0.8); font-family: "Palanquin Dark"; font-size: 48px; }

.cta .textBox-1484810547740 { font-weight: bold; color: rgba(0, 0, 0, 0.478431); font-family: "Palanquin Dark"; font-size: 25px; }

.cta .button-1484810647340 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold; background: rgb(253, 94, 83); font-family: "Open Sans"; font-size: 18px; }

.cta .textBox-1484810830354 { font-family: "Open Sans"; text-decoration: underline; color: rgba(34, 34, 34, 0.568627); font-size: 15px; }

.cta .textBox-1484811051624 { font-weight: bold; color: rgba(0, 0, 0, 0.8); font-family: "Palanquin Dark"; font-size: 24px; }

.cta .textBox-1484811087626 { font-weight: bold; color: rgba(0, 0, 0, 0.478431); font-family: "Palanquin Dark"; font-size: 16px; }

.cta .button-1484811105791 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold; background: rgb(253, 94, 83); font-family: "Open Sans"; font-size: 14px; }

.cta .image-1484840595360 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484840434278 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484808600342:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-ms-input-placeholder{ font-size:15px; }

