.cta-lg { background: rgb(30, 30, 32); }

.cta-sm { background: rgb(30, 30, 32); }

.cta-lg .textBox-1478550469696 { background: rgb(0, 0, 0); border-width: 4px; border-style: dashed; border-color: rgb(229, 78, 78); }

.cta-lg .textBox-1478551597034 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-size: 38px; font-family: "Open Sans"; }

.cta-lg .textBox-1478551672714 { color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-family: "Open Sans"; }

.cta-lg .textBox-1478623172808 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; }

.cta-lg .textBox-1478713502042 { color: rgb(255, 255, 255); font-weight: bold; font-size: 17px; font-family: "Open Sans"; }

.cta-lg .textBox-1478713550035 { color: rgb(255, 255, 255); font-weight: initial; font-family: "Open Sans"; }

.cta-lg .button-1478713846920 { background: rgb(229, 78, 78); font-weight: bold; font-family: "Open Sans"; }

.cta-lg .button-1478713846920:hover, .cta-lg .button-1478713846920:focus, .cta-lg .button-1478713846920:active { background: rgb(222, 34, 34); }

.cta-lg .textBox-1478713304172 { color: rgb(255, 255, 255); font-weight: initial; font-family: "Open Sans"; }

.cta .button-1478713846920 { font-family: "Open Sans"; font-size: 15px; border-style: none; color: rgb(255, 255, 255); }

.cta .textBox-1484630529498 { background: rgb(0, 0, 0); border-width: 8px; border-color: rgb(229, 78, 78); font-family: "Open Sans"; font-size: 15px; border-style: dashed; }

.cta .textBox-1484630529511 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-size: 38px; font-family: "Open Sans"; }

.cta .textBox-1484630529531 { color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-family: "Open Sans"; }

.cta .textBox-1484630529569 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; }

.cta .textBox-1484630529581 { color: rgb(255, 255, 255); font-weight: initial; font-family: "Open Sans"; }

.cta .textBox-1484630529631 { color: rgb(255, 255, 255); font-weight: bold; font-size: 17px; font-family: "Open Sans"; }

.cta .textBox-1484630529644 { color: rgb(255, 255, 255); font-weight: initial; font-family: "Open Sans"; }

.cta .button-1484630529664:hover, .cta .button-1484630529664:focus, .cta .button-1484630529664:active { background: rgb(222, 34, 34); }

.cta .textBox-1478550469696 { font-family: "Open Sans"; font-size: 15px; border-width: 8px; border-style: dashed; }

.cta .button-1484630529664 { background: rgb(229, 78, 78); font-weight: bold; font-family: "Open Sans"; font-size: 15px; border-style: none; color: rgb(255, 255, 255); }

