.cta .image-1485277093715 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1485276991122 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1485276935248 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1485277428815 { color: rgb(102, 102, 102); font-weight: initial; font-family: "Palanquin Dark"; font-size: 24px; }

.cta .textBox-1485277808448 { font-weight: bold; color: rgb(28, 169, 201); font-family: "Palanquin Dark"; font-size: 36px; }

.cta .facebook-button-1485277808462 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1485277808497 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1485277808509 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1485277808530 { color: rgb(102, 102, 102); font-weight: initial; font-family: "Palanquin Dark"; font-size: 24px; }

.cta .textBox-1485276700494 { font-weight: bold; color: rgb(28, 169, 201); font-family: "Palanquin Dark"; font-size: 36px; }

.cta .textInput-1485210944182:-moz-placeholder{ font-size:15px; }

.cta .textInput-1485210944182::-moz-placeholder{ font-size:15px; }

.cta .textInput-1485210944182:-ms-input-placeholder{ font-size:15px; }

