node_modules/
backend/vendor/
.idea/
backend/.env
.phpstorm.meta.php
_ide_helper.php
architect/assets/images/previews/*.png
webExports/*
!webExports/base.css
!webExports/base.less
!webExports/exportHTML.php
!webExports/triggerController.js
!webExports/triggerController.min.js
!webExports/advert.js
php_errors.log
composer.phar
.DS_Store
/nbproject
