.cta .textBox-1480490724311 { text-align: center; font-weight: bold; border-style: solid; border-width: 0px 0px 2px; color: rgb(217, 30, 24); font-family: "Roboto Slab"; font-size: 28px; }

.cta .textBox-1480491153380 { text-align: center; font-family: "Roboto Slab"; color: rgb(30, 30, 32); font-weight: initial; font-size: 17px; }

.cta .button-1480492221397 { background: rgb(217, 30, 24); border-color: rgb(217, 30, 24); font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1480492750004 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484659753005 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659771526 { text-align: center; font-weight: bold; border-width: 0px 0px 1px; color: rgb(217, 30, 24); border-style: none; border-color: rgb(205, 74, 74); font-family: "Roboto Slab"; font-size: 18px; }

.cta .image-1480490680230 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484659808205 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659851653 { text-align: center; color: rgb(30, 30, 32); font-weight: initial; font-family: "Roboto Slab"; font-size: 13px; }

.cta .emailInput-1480492197024 { font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1480492197024::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484659920801 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484659920801::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484659920815 { background: rgb(217, 30, 24); border-color: rgb(217, 30, 24); font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659951993 { text-align: center; font-weight: initial; color: rgb(101, 101, 101); font-family: "Roboto Slab"; font-size: 12px; }

.cta .textBox-1480492531206 { text-align: center; font-weight: initial; color: rgb(101, 101, 101); font-size: 15px; font-family: "Roboto Slab"; }

.cta .emailInput-1480492197024:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480492197024::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480492197024:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484659920801:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659920801::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659920801:-ms-input-placeholder{ font-size:15px; }

