.cta .textBox-1480487262100 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px 0px; border-color: rgb(243, 156, 18); font-size: 50px; font-family: "Roboto Condensed"; }

.cta .textBox-1480487502746 { text-align: center; font-family: "Roboto Condensed"; font-weight: initial; color: rgb(255, 255, 255); font-size: 19px; font-style: initial; }

.cta .textBox-1480487608063 { text-align: center; font-family: "Roboto Condensed"; font-weight: initial; color: rgb(255, 255, 255); font-size: 19px; font-style: initial; }

.cta .button-1480487779245 { color: rgb(255, 255, 255); background: rgb(243, 156, 18); border-color: rgb(243, 156, 18); font-family: "Roboto Condensed"; font-weight: bold; font-size: 24px; }

.cta .textBox-1480488076769 { color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-family: Roboto; font-size: 23px; }

.cta .textBox-1480488651874 { text-align: center; font-weight: initial; color: rgb(255, 255, 255); font-style: initial; font-family: "Roboto Condensed"; font-size: 20px; }

.cta .textBox-1484658910026 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px 0px; border-color: rgb(243, 156, 18); font-family: "Roboto Condensed"; font-size: 28px; }

.cta .textBox-1484658910050 { text-align: center; color: rgb(243, 156, 18); font-weight: bold; font-family: "Roboto Condensed"; font-size: 24px; }

.cta .textBox-1484658961332 { color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-family: Roboto; font-size: 16px; }

.cta .button-1484658961382 { color: rgb(255, 255, 255); background: rgb(243, 156, 18); border-color: rgb(243, 156, 18); font-weight: bold; font-family: "Roboto Condensed"; font-size: 18px; }

.cta .image-1484658961353 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659019297 { text-align: center; font-weight: initial; color: rgb(255, 255, 255); font-style: initial; font-family: "Roboto Condensed"; font-size: 16px; }

.cta .shape-1484843784761 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.4); }

.cta .shape-1484843840317 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.4); }

.cta .textBox-1480487127957 { text-align: center; color: rgb(243, 156, 18); font-weight: bold; font-family: "Roboto Condensed"; font-size: 24px; }

