.cta .textBox-1484827859859 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Palanquin Dark"; font-size: 40px; }

.cta .image-1484827825239 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484827986298 { color: rgb(255, 255, 255); font-family: "Noto Sans"; font-size: 18px; }

.cta .emailInput-1484828167008 { border-style: solid; border-color: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828167008::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484828207536 { color: rgb(255, 255, 255); border-style: solid; border-color: rgba(0, 0, 0, 0); background: rgb(93, 118, 203); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484828314166 { color: rgba(34, 34, 34, 0.690196); text-decoration: none; font-family: "Open Sans"; font-size: 13px; }

.cta .shape-1484828421403 { background: rgb(255, 105, 97); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484828426696 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484828448674 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Palanquin Dark"; font-size: 24px; }

.cta .textBox-1484828475323 { color: rgb(255, 255, 255); font-family: "Noto Sans"; font-size: 13px; }

.cta .emailInput-1484828508174 { border-style: solid; border-color: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828508174::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484828524617 { color: rgb(255, 255, 255); border-style: solid; border-color: rgba(0, 0, 0, 0); background: rgb(93, 118, 203); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484827742270 { background: rgb(255, 105, 97); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828167008:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008:-ms-input-placeholder{ font-size:15px; }

