.cta .shape-1484673467515 { border-color: rgba(0, 0, 0, 0); border-style: solid; border-radius: 20px; background: rgb(93, 118, 203); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484673790767 { font-family: "Open Sans"; font-size: 15px; background: rgb(47, 47, 47); }

.cta .textBox-1484673856383 { text-align: center; color: rgb(255, 255, 255); font-weight: initial; font-family: "Roboto Slab"; font-size: 18px; }

.cta .button-1484674010029 { border-style: none; border-color: rgb(204, 204, 204); font-weight: bold; background: rgb(255, 255, 255); color: rgb(93, 118, 203); font-family: "Open Sans"; font-size: 20px; }

.cta .textBox-1484674223250 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Roboto Slab"; font-size: 24px; }

.cta .icon-1484674321320 { background: rgba(255, 255, 255, 0); color: rgb(255, 255, 255); font-family: "Open Sans"; }

.cta .textBox-1484674358401 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484674368520 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Roboto Slab"; font-size: 28px; }

.cta .image-1484673717926 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484674473855 { background: rgba(149, 174, 255, 0); color: rgb(169, 187, 246); font-family: "Open Sans"; font-size: 14px; }

.cta .shape-1484674725436 { font-family: "Open Sans"; font-size: 15px; background: rgb(35, 35, 35); }

.cta .shape-1484674796401 { border-color: rgba(0, 0, 0, 0); border-style: solid; border-radius: 20px; background: rgb(93, 118, 203); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484674810104 { font-family: "Open Sans"; font-size: 15px; border-color: transparent; border-style: solid; background: rgb(249, 249, 249); border-radius: 20px; }

.cta .image-1484674841660 { font-size: 15px; font-family: "Open Sans"; }

.cta .shape-1484674878944 { font-family: "Open Sans"; font-size: 15px; background: rgb(47, 47, 47); }

.cta .textBox-1484674946389 { text-align: center; color: rgb(255, 255, 255); font-weight: initial; font-family: "Roboto Slab"; font-size: 14px; }

.cta .textBox-1484674973519 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Roboto Slab"; font-size: 20px; }

.cta .button-1484674973542 { border-style: none; border-color: rgb(204, 204, 204); font-weight: bold; background: rgb(255, 255, 255); color: rgb(93, 118, 203); font-size: 20px; font-family: "Open Sans"; }

.cta .textBox-1484674973563 { background: rgba(149, 174, 255, 0); color: rgb(169, 187, 246); font-family: "Open Sans"; font-size: 14px; }

.cta .shape-1484673392173 { font-family: "Open Sans"; font-size: 15px; border-color: transparent; border-style: solid; background: rgb(249, 249, 249); border-radius: 20px; }

