.cta .textBox-1484760890139 { text-align: center; color: rgb(255, 255, 255); font-weight: initial; font-family: "Palanquin Dark"; font-size: 22px; }

.cta .shape-1484760995290 { border-width: 2px; font-family: "Open Sans"; font-size: 15px; background: rgba(3, 0, 0, 0.00784314); border-style: dashed; border-color: rgb(255, 255, 255); }

.cta .shape-1484761138169 { background: rgb(237, 237, 237); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484761238431 { font-size: 15px; font-family: "Open Sans"; }

.cta .button-1484761272262 { background: rgba(255, 255, 255, 0); border-width: 2px; font-weight: bold; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-family: "Palanquin Dark"; font-size: 15px; }

.cta .image-1484760858903 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484761449544 { background: rgba(255, 255, 255, 0); border-width: 2px; font-weight: bold; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-size: 15px; font-family: "Palanquin Dark"; }

.cta .textBox-1484761501867 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Palanquin Dark"; font-size: 48px; }

.cta .textBox-1484761914359 { text-align: center; font-weight: bold; color: rgb(205, 197, 194); font-family: "Noto Sans"; font-size: 12px; }

.cta .image-1484761725129 { font-size: 15px; font-family: "Open Sans"; }

.cta .icon-1484762064213 { font-family: "Open Sans"; background: rgba(0, 0, 0, 0); color: rgb(205, 197, 194); }

.cta .image-1484762218423 { font-size: 15px; font-family: "Open Sans"; }

.cta .image-1484762239216 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484762273935 { background: rgba(102, 102, 102, 0); border-width: 2px; font-family: "Open Sans"; font-size: 15px; border-style: dashed; border-color: rgb(255, 255, 255); }

.cta .textBox-1484762318148 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Palanquin Dark"; font-size: 20px; }

.cta .image-1484762344990 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484762345004 { font-size: 15px; font-family: "Open Sans"; }

.cta .button-1484762371100 { background: rgba(255, 255, 255, 0); border-width: 2px; font-weight: bold; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-size: 15px; font-family: "Palanquin Dark"; }

.cta .button-1484762432364 { background: rgba(255, 255, 255, 0); border-width: 2px; font-weight: bold; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; font-size: 15px; font-family: "Palanquin Dark"; }

.cta .image-1484760871371 { font-family: "Open Sans"; font-size: 15px; }

