.cta .textBox-1480675828226 { text-align: center; font-weight: bold; color: rgb(255, 255, 255); font-size: 36px; font-family: "Roboto Condensed"; }

.cta .textBox-1480675946793 { text-align: center; color: rgb(9, 102, 117); font-weight: bold; font-size: 60px; border-color: rgb(255, 255, 255); border-style: solid; border-width: 0px; font-family: "Roboto Condensed"; }

.cta .button-1480676069159 { background: rgb(242, 38, 19); color: rgb(255, 255, 255); font-family: "Roboto Condensed"; font-weight: bold; font-size: 20px; border-color: rgb(217, 30, 24); border-width: 0px 0px 4px; }

.cta .textBox-1480676414154 { font-weight: bold; color: rgb(242, 38, 19); text-align: center; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1480676454161 { font-family: "Roboto Condensed"; color: rgb(242, 38, 19); font-weight: bold; text-align: center; font-size: 36px; }

.cta .image-1480675779808 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484658311245 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484658341334 { background: rgb(99, 216, 243); }

.cta .textBox-1484658368465 { font-weight: bold; color: rgb(255, 255, 255); font-family: "Roboto Condensed"; text-align: left; font-size: 28px; }

.cta .textBox-1484658368489 { color: rgb(9, 102, 117); font-weight: bold; border-color: rgb(255, 255, 255); border-style: solid; border-width: 0px; text-align: left; font-family: "Roboto Condensed"; font-size: 48px; }

.cta .button-1484658368508 { background: rgb(242, 38, 19); color: rgb(255, 255, 255); font-weight: bold; border-color: rgb(217, 30, 24); border-width: 0px 0px 4px; font-family: "Roboto Condensed"; font-size: 20px; }

.cta .textBox-1484658446367 { font-weight: bold; color: rgb(242, 38, 19); text-align: center; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484658446381 { font-family: "Roboto Condensed"; color: rgb(242, 38, 19); font-weight: bold; text-align: center; font-size: 36px; }

.cta .image-1484658446402 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1480675759794 { background: rgb(99, 216, 243); }

