.cta-lg .textBox-1477522341366 { background: rgb(127, 161, 217); }

.cta-sm .textBox-1477522394605 { font-size: 50px; font-family: Lato; }

.cta-lg .textBox-1477522394605 { font-size: 50px; font-family: "Open Sans"; }

.cta-sm .emailInput-1477522540455 { background: rgba(255, 255, 255, 0.901961); border-radius: 4px; border-width: 2px; border-color: rgb(127, 161, 217); }

.cta-lg .emailInput-1477522540455 { border-radius: 4px; border-width: 2px; border-color: rgb(127, 161, 217); background: rgba(255, 255, 255, 0.882353); font-family: "Open Sans"; }

.cta-sm .textBox-1477523461085 { font-size: 25px; font-family: Lato; }

.cta-lg .textBox-1477523461085 { font-size: 25px; font-family: "Open Sans"; }

.cta-sm .textBox-1477522341366 { background: rgb(127, 161, 217); }

.cta-lg .textBox-1477524251244 { text-decoration: underline; font-size: 13px; font-family: "Open Sans"; }

.cta-sm .button-1477524056527 { border-width: 3.5px; border-style: groove; border-color: rgb(89, 171, 227); }

.cta-lg .button-1477524056527 { border-width: 3.5px; border-style: groove; border-color: rgb(89, 171, 227); font-weight: bold; font-size: 16px; background: rgba(255, 255, 255, 0.741176); color: rgb(30, 30, 32); font-family: "Open Sans"; }

.cta-sm .textBox-1477524251244 { text-decoration: underline; font-size: 13px; }

.cta-lg .button-1477524056527:hover, .cta-lg .button-1477524056527:focus, .cta-lg .button-1477524056527:active { background: rgba(230, 230, 230, 0.741176); }

.cta .textBox-1477522341366 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1477522478666 { font-family: "Open Sans"; }

.cta .textBox-1477522394605 { font-family: "Open Sans"; }

.cta .image-1484582975838 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484582987155 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484582987174 { font-family: "Open Sans"; text-align: center; font-size: 42px; }

.cta .textBox-1484582987192 { font-family: "Open Sans"; text-align: center; font-size: 22px; }

.cta .emailInput-1484583005740 { border-radius: 4px; border-width: 2px; border-color: rgb(127, 161, 217); background: rgba(255, 255, 255, 0.882353); font-family: "Open Sans"; font-size: 15px; }

.cta .button-1477524056527 { font-size: 16px; font-family: "Open Sans"; }

.cta .textBox-1477524251244 { font-family: "Open Sans"; font-size: 13px; }

.cta .button-1484583013433 { border-width: 3.5px; border-style: groove; border-color: rgb(89, 171, 227); font-weight: bold; background: rgba(255, 255, 255, 0.741176); color: rgb(30, 30, 32); font-family: "Open Sans"; font-size: 16px; }

.cta .button-1484583013433:hover, .cta .button-1484583013433:focus, .cta .button-1484583013433:active { background: rgba(230, 230, 230, 0.741176); }

.cta .textBox-1484583013459 { text-decoration: underline; font-family: "Open Sans"; font-size: 13px; }

.cta .emoji-1484582987211 { font-size: 15px; }

.cta .emailInput-1484583005740::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484583259651 { background: rgb(127, 161, 217); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1478556828250:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1478556828250::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1478556828250:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484583005740:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484583005740::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484583005740:-ms-input-placeholder{ font-size:15px; }

