@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff2') format('woff2'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype'),
         url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.eot');
    src: url('fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansBold.woff2') format('woff2'),
         url('fonts/OpenSansBold.woff') format('woff'),
         url('fonts/OpenSansBold.ttf') format('truetype'),
         url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSansLight.eot');
    src: url('fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('fonts/OpenSansLight.woff2') format('woff2'),
         url('fonts/OpenSansLight.woff') format('woff'),
         url('fonts/OpenSansLight.ttf') format('truetype'),
         url('fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSansSemibold.eot');
    src: url('fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('fonts/OpenSansSemibold.woff2') format('woff2'),
         url('fonts/OpenSansSemibold.woff') format('woff'),
         url('fonts/OpenSansSemibold.ttf') format('truetype'),
         url('fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'proxima-nova-semibold';
    src: url('fonts/proxima-nova-semibold.eot');
    src: url('fonts/proxima-nova-semibold.eot') format('embedded-opentype'),
         url('fonts/proxima-nova-semibold.woff') format('woff'),
         url('fonts/proxima-nova-semibold.ttf') format('truetype'),
         url('fonts/proxima-nova-semibold.svg#proxima-nova-semibold') format('svg');
}
@font-face {
    font-family: 'proxima-nova-regular';
    src: url('fonts/proxima-nova-regular.eot');
    src: url('fonts/proxima-nova-regular.eot') format('embedded-opentype'),
         url('fonts/proxima-nova-regular.woff') format('woff'),
         url('fonts/proxima-nova-regular.ttf') format('truetype'),
         url('fonts/proxima-nova-regular.svg#proxima-nova-regular') format('svg');
}
@font-face {
    font-family: 'proxima-nova-bold';
    src: url('fonts/proxima-nova-bold.eot');
    src: url('fonts/proxima-nova-bold.eot') format('embedded-opentype'),
         url('fonts/proxima-nova-bold.woff') format('woff'),
         url('fonts/proxima-nova-bold.ttf') format('truetype'),
         url('fonts/proxima-nova-bold.svg#proxima-nova-bold') format('svg');
}
/*font-family: 'OpenSansBold', sans-serif;*/
html,body{font-size:14px; color:#404040;font-family: 'OpenSansLight', sans-serif;background:#ffffff;}

img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
img, fieldset {border: 0;}
h1, h2, h3{color:#3a4351; font-family: "Lato",sans-serif;}
.clear{clear:both;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
a {color: #3aa3e3;text-decoration: none;}
a,img,button,select{outline:none  !important;}
a:active,img,button,select{outline:none !important;}
a:hover,a:focus{text-decoration:none !important;}
.p0{padding:0;}
.mb10{margin-bottom:10px;} .mb20{margin-bottom:20px !important;} .mb30{margin-bottom:30px;}
.mt5{margin-top:5px;} .mt10{margin-top:10px;} .mt20{margin-top:20px;} .mt30{margin-top:30px;} .mt40{margin-top:40px;} .mt50{margin-top:50px;}
.ml10{margin-left:10px;}
.mr20{margin-right:20px;}
.pr0{padding-right:0;} .pr15{padding-right:15px;}.pt0{padding-top:0 !important;}
.pl15{padding-left:15px;}

/* buttons -------------------*/
.btn{transition: all 0.7s ease-out 0s;-webkit-transition: all 0.7s ease-out 0s;-moz-transition: all 0.7s ease-out 0s;-o-transition: all 0.7s ease-out 0s;
     -ms-transition: all 0.7s ease-out 0s;}
.header-btns .btn-default{border-radius:25px;padding:10px 22px;background:rgba(255,255,255,0);font-size:12px;text-transform:uppercase;
                          border:2px solid #3ce067;text-shadow:0 0;color:#20c04b;font-family: 'OpenSansSemibold', sans-serif;box-shadow:0 0 0 rgba(0, 0, 0, 0);}
.header-btns .btn-default:hover, .header-btns .btn-default:focus, .header-btns .btn-default.focus {background:#3ce067;color:#ffffff;}
.btn-green{background:#3ce067;border-radius:5px;padding:8px 18px;font-size:15px;color:#ffffff;font-family: 'OpenSansSemibold', sans-serif;}
.btn-green:hover, .btn-green:focus, .btn-green.focus{background:#29c451;color:#333333;}
.btn-green i{margin-left:5px;}
   
/* header -------------------*/
.header{color: #404040;left: 0;position: fixed;top: 0;width: 100%;z-index:99;height:90px;}
#header-background {background: #ffffff;display: none;height: 100%;	left: 0;position: absolute;	top: 0;	width: 100%;z-index: 0;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
        transform: translate3d(0px, 0px, 0px);transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.1s ease-in 0s;}

#logo{text-align: left;padding:25px 0;}
#logo a{display:block;line-height:34px;}
.customNav{text-align:right;}
.customNav .navbar-collapse{padding-left: 3px;}
.customNav .navbar-default .navbar-nav > li > a{font-family: 'OpenSansSemibold', sans-serif;text-transform:uppercase;}
.customNav .navbar-default .navbar-nav > li > a:hover{color:#333333;transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;
                                                      -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s;/*box-shadow:0 3.5px 0 #00b832;*/ }
.customNav .navbar-default{margin-bottom:0px;border:none; background:none;display:inline-block;box-shadow: 0 0 rgba(0, 0, 0, 0);border-radius:0;}
.customNav .navbar-default .navbar-nav .dropdown:hover .dropdown-menu{display:block;}
.customNav .sub-menu{background: #ffffff;border: 1px solid rgba(0, 0, 0, 0.15);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);display: none;left: 0;margin: 0;min-width: 200px;
    padding: 0;position: absolute;top: 28px;z-index: 1;font-size:12px;}
.customNav .sub-menu li{list-style-type:none;}
.customNav .sub-menu li a{border-bottom: 1px solid #eeeeee;color: #404040;display: block;padding: 7px 12px;}
.customNav .navbar-default .navbar-nav > li:hover .sub-menu{display:block;}
.customNav .navbar-default .navbar-nav > li:hover{border-bottom:2px solid #3ce067;}
.customNav .sub-menu li a:hover {background: #00205c;border-bottom: 1px solid rgba(255, 255, 255, 0.5);color: #ffffff;-webkit-transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;
                                                      -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s;}
.customNav .sub-menu li:last-child a{border-bottom:0 none;}
.signin-responsive{display:none}


/* banner-header ----------*/
.banner-header{padding:150px 0 0 0;text-align:center;
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #f4f4f4 0%, #fcfcfc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #f4f4f4 0%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #f4f4f4 0%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.banner-header h1{font-size:34px;font-family: 'OpenSansBold', sans-serif;margin:0;margin-bottom:40px;}
.banner-header .search-wrap {max-width:475px;margin:0px auto 50px;}
.search-wrap .input-group .form-control{border:1px solid #e0e0e0;height:63px;font-size:18px;background:#fdfdfd;box-shadow:0 0 0 rgba(0, 0, 0, 0);border-radius:5px 0 0 5px;}
.search-wrap .input-group-btn > .btn-default{background:#fdfdfd;font-size:28px;height:63px;box-shadow:0 0 0 rgba(0, 0, 0, 0);border-radius:0 5px 5px 0;border-color:#e0e0e0;
                                             padding:6px 15px;}
.search-wrap .input-group-btn > .btn-default:hover, .search-wrap .input-group-btn > .btn-default:focus, .search-wrap .input-group-btn > .btn-default.focus{background:#3ce067;
                                                                                                                                                           color:#ffffff;border-color:#3ce067;}
.banner-header-inner{border-top:1px solid #e6e6e6;padding-top:20px;}
.banner-header-inner .search-wrap{width:393px;margin-bottom:20px;float:right;}
.banner-header-inner .search-wrap .input-group .form-control{height:52px;font-size:15px;}
.banner-header-inner .search-wrap .input-group-btn > .btn-default{height:52px;font-size:20px}
/* inner-page ---------*/
.inner-page{}
.sidebar{padding-top:60px;}
.sidebar .sidebar-wrap{background:#f9f9f9;border-radius:5px;margin-bottom:20px;}
.sidebar .sidebar-wrap h4{border-bottom:1px solid #e9e9e9;font-size:18px;font-family: 'OpenSansSemibold', sans-serif;padding:30px 16px 20px;margin:0;}
.sidebar .sidebar-inner{padding:25px 16px;}
.sidebar .sidebar-inner ul{margin:0;padding:0;}
.sidebar .sidebar-inner ul li{list-style-type:none;margin-bottom:16px;}
.sidebar .sidebar-inner ul li a{color:#404040;font-size:15px;}
.sidebar .sidebar-inner ul li a:hover{color:#3ce067;}
.sidebar .sidebar-inner p{margin-bottom:30px;}
.sidebar .other-guides{}
.sidebar .other-guides ul{margin:0;padding:0;}
.sidebar .other-guides ul li{list-style-type:none;border-bottom:1px solid #e9e9e9;float:none;margin-bottom:0;}
.sidebar .other-guides ul li svg{width:23px;float:left;margin-right:10px;}
.sidebar .other-guides ul li a{color:#404040;line-height:23px;display:block;padding:15px 10px 15px 20px;margin:0;font-size:18px;border-radius:0;border:0 none;}
.sidebar .other-guides ul li a:hover{color:#3ce067;transition: all 0.7s ease-out 0s;-webkit-transition: all 0.7s ease-out 0s;-moz-transition: all 0.7s ease-out 0s;-o-transition: all 0.7s ease-out 0s;
     -ms-transition: all 0.7s ease-out 0s;border:0 none;}
.sidebar .other-guides ul li:last-child{border:0 none;}
.sidebar .nav-tabs > li.active > a, .sidebar .nav-tabs > li.active > a:focus, .sidebar .nav-tabs > li.active > a:hover{background:#f0f0f0;border-radius:0;border:0 none;}
.sidebar .nav-tabs > li a{font-size:15px !important;font-family: 'OpenSansSemibold', sans-serif;}
.sidebar .nav-tabs{border-bottom:0 none;}
.category-wrap{text-align:center;position:relative;}
.category-wrap svg{max-width:60px;margin-bottom:50px;}
.category-wrap h4{font-size:18px;font-family: 'OpenSansSemibold', sans-serif;margin-top:0;}
.category-wrap p{font-size:15px;line-height:30px;}
.category-wrap a{display:block;color:#404040;}
.category-wrap a:hover h4{color:#3ce067;transition: all 0.7s ease-out 0s;-webkit-transition: all 0.7s ease-out 0s;-moz-transition: all 0.7s ease-out 0s;-o-transition: all 0.7s ease-out 0s;
     -ms-transition: all 0.7s ease-out 0s;}
.category-wrap a:hover svg path{fill:#404040;transition: all 0.7s ease-out 0s;-webkit-transition: all 0.7s ease-out 0s;-moz-transition: all 0.7s ease-out 0s;-o-transition: all 0.7s ease-out 0s;
     -ms-transition: all 0.7s ease-out 0s;}
.category-wrap:after{ background-color: #dddddd; bottom: 5px; content: ""; display: block; right: -15px; position: absolute; top: 0; width: 1px;}
.flast-category:after{width:0;}
.category-wrap-outer{padding:60px 0;}
.home-hr hr{margin:0}
.breadcrumb-wrap{float:left;}
.breadcrumb-wrap .breadcrumb{margin:10px 0;background:none;}
.breadcrumb-wrap .breadcrumb li a{color:#404040;}
.breadcrumb > li + li::before {color: #3ce067; content: "ï„… "; font-family: fontawesome;padding: 0 5px;}
.breadcrumb > .active{color:#404040;}
.inner-list-wrap{padding:60px 0;}
.inner-list-wrap h3{font-size:20px;font-family: 'OpenSansSemibold', sans-serif;display:inline-block;float:left;margin-top:5px;}
.inner-list-wrap svg{width:36px;float:left;margin-right:10px;}
.inner-header{padding-bottom:30px;}
.inner-list{}
.inner-list ul{margin:0;padding:0;}
.inner-list ul li{list-style-type:none;border-top:1px solid #e9e9e9;padding:30px 0}
.inner-list ul li a{color:#404040}
.inner-list ul li h4{font-size:18px;font-family: 'OpenSansSemibold', sans-serif;margin-top:0;}
.inner-list ul li p{font-size:15px;margin-bottom:0;}
.inner-list ul li:last-child{border-bottom:1px solid #e9e9e9;}
.inner-list ul li a:hover h4{color:#3ce067;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;}
.tab-content{padding:60px 0;}
.tab-content .panel-default{border:0 none;box-shadow:0 0 0 rgba(0,0,0,0);}
.tab-content .panel-group .panel + .panel{margin-top:35px;}
.tab-content .panel-default .panel-heading{background:none;padding:0 0 35px;border-bottom:1px solid #e9e9e9;}
.tab-content .panel-default .panel-heading h4{font-size:20px;font-family: 'OpenSansSemibold', sans-serif; }
.tab-content .panel-default .panel-body{border-top:0 !important;padding:15px 0;}
.tab-content .panel-default .panel-body p{font-size:15px;margin-bottom:15px;}
.tab-content .panel-default .panel-body p a{color:#3ce067;}
.tab-content .panel-default .panel-body p a:hover{color:#222222}
.tab-content .panel-default .panel-body ul{font-size:15px;margin-bottom:15px;}
.tab-content .panel-default .panel-body ul li{margin-bottom:5px;}
.tab-content .panel-default .panel-body .img-wrap{margin-bottom:15px;}
.tab-content .panel-default .panel-body .img-wrap img{display:inline-block;}
.tab-content .panel-group{margin:0;}
/* footer ---------*/
.footer{background:#444f56;min-height:109px;padding-top:20px;color:#c4c7c9;}
.footer p{padding-top:20px;font-family: 'OpenSansSemibold', sans-serif;}
.social-media{display:inline-block;margin:0;padding:0;}
.social-media li{list-style-type:none;float:left;}
.social-media li a{color:#c4c7c9;padding:0 5px;font-size:18px;line-height:32px;}
.social-media li a img{height:33px;}
.social-media li a:hover{color:#3ce067;}

/*login page -------------*/
.login-header{}
.login-logo{text-align:center;padding:28px 0;}
.login-logo a{display:block;line-height:34px;}
.login-wrap{max-width:455px;padding: 0px 55px 55px 55px;text-align:center;margin:0 auto;}
.login-wrap h3{color:#21dc4d;font-size:20px;font-family: 'OpenSansSemibold', sans-serif;margin-bottom:23px;}
.btn-google{background:#498dff;border-radius:30px;padding:10px 45px;color:#ffffff;font-family:'proxima-nova-semibold', san-serif;font-size:14px;display:inline-block;
            margin-bottom:25px;margin-right:5px;}
.btn-google img{margin-right:10px;}
.btn-google:hover, .btn-google:focus{background:#3078f0;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;color:#ffffff;}
.btn-linkedin{background:#0274b3;border-radius:30px;padding:10px 45px;color:#ffffff;font-family:'proxima-nova-semibold', san-serif;font-size:14px;display:inline-block;
            margin-bottom:25px;}
.btn-linkedin img{margin-right:10px;}
.btn-linkedin:hover, .btn-linkedin:focus{background:#015f94;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;color:#ffffff;}
.login-wrap .or{font-size:14px;font-family:'OpenSansLight', san-sarif;color:#a5a5a5;}
.login-form .form-control{height:44px;border-radius:22px;border-color:#e7e7e7;padding-left:40px;font-family:'proxima-nova-regular', san-serif;}
.login-form .form-control:focus{box-shadow:0 1px 1px rgba(0, 0, 0, 0);border-color:#2cdd5b;}
.login-form .form-control:focus .login-form .input-group-addon{border-color:#e7e7e7;}
.login-form .input-group-addon{background:rgba(255,255,255,0);border-color:#e7e7e7;border-radius:22px 0 0 22px;padding-left:20px;padding-right:3px;}
.login-form .checkbox label{font-size:12px;line-height:21px;color:#666666;}
.login-form .checkbox{display:inline-block;font-family: 'OpenSansRegular', sans-serif;}
.login-form .forget-pwd{display:inline-block;font-size:12px;line-height:21px;color:#2cdd5b;}
.login-form .forget-pwd a{color:#2cdd5b;font-family: 'OpenSansRegular', sans-serif;}
.login-form .forget-pwd a:hover{color:#333333;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;}
.login-form .btn-signin{background:#2cdd5b;border-radius:30px;padding:10px 45px;color:#ffffff;font-family:'proxima-nova-semibold', san-serif;font-size:14px;
                        border:1px solid #37bf5c;font-family: 'proxima-nova-bold';}
.login-form .btn-signin:hover, .login-form .btn-signin:focus{background:#18d64b;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;color:#ffffff;}
.login-form .reg-here{font-size:13px;font-family: 'OpenSansRegular', sans-serif;color:#666666;}
.login-form .reg-here a{color:#2cdd5b;}
.login-form .reg-here a:hover{color:#333333;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;}
.login-form .checkbox span {margin-left: 15px;margin-right: 15px;}
.input-group-wrap{position:relative;}
.input-icon{position:absolute;left:20px;top:10px;}
