.cta .image-1484582105600 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484582105623 { background: rgb(0, 150, 136); border-style: solid; border-color: rgb(127, 203, 196); border-width: 2px; color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-size: 26px; font-family: "Open Sans"; }

.cta .image-1484582277758 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484582277777 { background: rgb(0, 150, 136); border-style: solid; border-color: rgb(127, 203, 196); border-width: 2px; color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-family: "Open Sans"; font-size: 26px; }

.cta .textBox-1484582277850 { color: rgb(255, 255, 255); font-family: "Open Sans"; text-align: center; font-weight: bold; font-size: 28px; }

.cta .image-1484582277739 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484582105722 { color: rgb(255, 255, 255); text-align: center; font-weight: bold; font-size: 28px; font-family: "Open Sans"; }

