.cta-sm-v0 { background: rgba(0, 0, 0, 0); }

.cta .image-1482009864590 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1482010285715 { background: rgb(237, 237, 237); border-radius: 20px; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1482010742919 { font-weight: bold; text-align: center; color: rgb(135, 169, 107); font-family: Montserrat; font-size: 20px; }

.cta .textBox-1482010896080 { text-align: center; font-family: Montserrat; font-size: 14px; }

.cta .image-1482011094624 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1482011123649 { border-style: solid; border-width: 2px; background: rgba(0, 0, 0, 0); font-family: "Open Sans"; border-color: rgb(135, 169, 107); }

.cta .image-1482010189720 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484632878481 { background: rgb(237, 237, 237); border-radius: 20px; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484632878498 { border-style: solid; border-width: 2px; background: rgba(0, 0, 0, 0); font-family: "Open Sans"; border-color: rgb(135, 169, 107); }

.cta .image-1484632878515 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484632878533 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484632878550 { font-weight: bold; text-align: center; color: rgb(135, 169, 107); font-family: Montserrat; font-size: 20px; }

.cta .textBox-1484632878568 { text-align: center; font-family: Montserrat; font-size: 14px; }

.cta .image-1484632878587 { font-family: "Open Sans"; font-size: 15px; }

.cta .icon-1484880252813 { color: rgb(102, 102, 102); }

.cta .icon-1484880274557 { color: rgb(102, 102, 102); }

.cta-lg-v0 { background: rgba(0, 0, 0, 0); }

