.cta-lg .textBox-1479754286235 { border-color: rgb(0, 119, 181); border-width: 1px; border-style: solid; border-radius: 20px; background: rgb(255, 255, 255); }

.cta-lg .textBox-1479754413180 { font-size: 13px; text-align: center; font-weight: bold; }

.cta-sm .textBox-1479754874428 { border-color: rgb(0, 119, 181); border-width: 1px; border-style: solid; border-radius: 20px; }

.cta-sm .button-1479754874582 { font-size: 13px; font-weight: bold; text-align: left; color: rgb(0, 119, 181); border-color: rgb(0, 119, 181); border-width: 2px; border-style: ridge; background: rgba(0, 119, 181, 0.0392157); }

.cta-sm .textBox-1479754874705 { font-size: 13px; text-align: center; font-weight: bold; }

.cta-sm { background: rgba(0, 0, 0, 0); }

.cta-lg { background: rgba(0, 0, 0, 0); }

.cta .textBox-1479754874428 { background: rgb(255, 255, 255); }

.cta .textBox-1479754413180 { font-family: "Open Sans"; font-size: 13px; }

.cta .button-1479753933119 { border-color: rgb(0, 119, 181); font-family: "Open Sans"; font-size: 13px; }

.cta .image-1479753405433 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1479754286235 { border-color: rgb(0, 119, 181); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1479754874495 { font-family: "Open Sans"; }

.cta .textBox-1479754874705 { font-family: "Open Sans"; font-size: 13px; }

.cta-lg .button-1479753933119 { font-size: 13px; font-weight: bold; text-align: left; color: rgb(0, 119, 181); border-color: rgb(0, 119, 181); border-width: 2px; border-style: ridge; background: rgba(0, 119, 181, 0.0392157); }

