.cta .textBox-1484811960099 { text-align: center; font-weight: bold; color: rgb(255, 127, 73); font-family: "Roboto Slab"; font-size: 48px; }

.cta .textBox-1484812074138 { text-align: center; font-family: Rambla; font-size: 22px; }

.cta .textBox-1484812177440 { background: rgba(0, 0, 0, 0); font-weight: bold; color: rgb(31, 150, 203); font-size: 15px; font-family: Rambla; }

.cta .textBox-1484812269471 { text-align: center; color: rgb(31, 206, 203); font-weight: bold; font-family: "Roboto Slab"; font-size: 22px; }

.cta .emailInput-1484813239271 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484813239271::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484813259340 { background: rgb(255, 130, 67); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; border-color: rgba(0, 0, 0, 0); font-size: 20px; }

.cta .textBox-1484813416835 { text-align: center; text-decoration: underline; color: rgba(34, 34, 34, 0.458824); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484813488713 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484813497125 { background: rgba(0, 0, 0, 0); font-weight: bold; color: rgb(31, 150, 203); font-family: Rambla; font-size: 15px; }

.cta .textBox-1484813497150 { text-align: left; font-family: Rambla; font-size: 18px; }

.cta .textBox-1484813587657 { font-weight: bold; color: rgb(255, 127, 73); text-align: left; font-family: "Roboto Slab"; font-size: 22px; }

.cta .textBox-1484813616504 { text-align: center; color: rgb(31, 206, 203); font-weight: bold; font-family: "Roboto Slab"; font-size: 14px; }

.cta .emailInput-1484813680686 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484813680686::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484813694143 { background: rgb(255, 130, 67); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; border-style: solid; border-color: rgba(0, 0, 0, 0); font-size: 16px; }

.cta .image-1484811938391 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484808600342:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484808600342:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484809781564:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484813239271:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484813239271::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484813239271:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484813680686:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484813680686::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484813680686:-ms-input-placeholder{ font-size:15px; }

