<h1 style="font-size: 22px; margin-bottom: 20px;">
    Target
</h1>

<div class="clearfix">
    <div class="inline-radio-label">
        <div class="input-wrapper">
            <span custom-radio-group group="triggerTargetVisitors" model="triggerTargetVisitors" value="all" enabled="true">
            </span>
        </div>
        <label>
            All Visitors
        </label>
    </div>

    <div class="inline-radio-label">
        <div class="input-wrapper">
            <span custom-radio-group group="triggerTargetVisitors" model="triggerTargetVisitors" value="specific" enabled="true">
            </span>
        </div>
        <label>
            Specific Users
        </label>
    </div>                
</div>

<div class="row" style="display:block">
    <div class="col-md-4">

        <h3>Types of Visitors</h3>

    </div>
    <div class="col-md-4">

        <h3>Location</h3>

        <div class="clearfix">
            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetLocations" model="triggerTargetLocations" 
                          value="location" enabled="true">
                    </span>
                </div>
                <label>
                    All Locations
                </label>
            </div> 
        </div>
        <div class="clearfix">    

            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetLocations" model="triggerTargetLocations" 
                          value="display_to" enabled="true">
                    </span>
                </div>
                <label>
                    Display To
                </label>
            </div> 

            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetLocations" model="triggerTargetLocations" 
                          value="never_display_to" enabled="true">
                    </span>
                </div>
                <label>
                    Never Display To
                </label>
            </div> 
        </div>

        <h3>Traffic Location</h3>

        <div class="clearfix">
            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetTrafficLocations" model="triggerTargetTrafficLocations" 
                          value="google" enabled="true">
                    </span>
                </div>
                <label>
                    Google
                </label>
            </div> 

            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetTrafficLocations" model="triggerTargetTrafficLocations" 
                          value="facebook" enabled="true">
                    </span>
                </div>
                <label>
                    Facebook
                </label>
            </div> 
        </div>
        <div class="clearfix">
            <div class="inline-radio-label">
                <div class="input-wrapper">
                    <span custom-radio-group group="triggerTargetTrafficLocations" model="triggerTargetTrafficLocations" 
                          value="other" enabled="true">
                    </span>
                </div>
                <label>
                    Other Locations
                </label>
            </div> 
        </div>

    </div>
    <div class="col-md-4">
        <h3>Other Cookies</h3>

        <p>Cookies we have picked up from your visitors that you might be interested in</p>

        <p><strong>References</strong> - Added From the List Below</p>

        <p><strong>Current List</strong> - Organized by Frequency</p>
    </div>
</div>