<div id="trigger-adblock" class="timing-trigger" ng-class="{'trigger-disabled' : !triggerObj.enabled}">
    
    <div class="trigger-block" ng-show="selectedValue">
        <div class="selected-trigger-content">
            <div class="details-label">Trigger Details</div>
            <div class="details">
                <label style="max-width:100%;">
                    Display after <input type="text" small-input-with-arrows name="adblock" ng-model="inputValue" />  <br />
                    seconds on page
                </label>
            </div>
        </div>
    </div>
    
    
    <div class="trigger-block" ng-show="!selectedValue">
        <div 
            class="picture"
            ng-click="select()"
            ng-if="triggerObj.background_uri"
            style="width: {{triggerObj.width}}px; height: {{triggerObj.height}}px; background:url({{triggerObj.background_uri}}) no-repeat {{triggerObj.background_position}}" 
        >
        </div>        
    </div>
    
    <div class="select-trigger">
        <div class="input-wrapper">
            <span
                custom-radio 
                click="select"
                name="name"
                enabled="triggerObj.enabled"
                value="selectedValue"
            >
            </span>
        </div>
        
        <label ng-click="select()">
            <span class="trigger-title" ng-bind="triggerObj.name"></span><br />
            <span class="trigger-description" ng-bind="triggerObj.description"></span>
        </label>
    </div>
    
</div>