.cta .textBox-1484604019853 { text-align: left; font-size: 28px; }

.cta .textBox-1484604138085 { text-decoration: underline; color: rgb(25, 116, 210); font-family: "Open Sans"; font-size: 28px; }

.cta .emoji-1484661374895 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484661374929 { text-align: left; font-family: "Open Sans"; font-size: 18px; }

.cta .textBox-1484661374952 { text-decoration: underline; color: rgb(25, 116, 210); font-size: 18px; }

.cta .emoji-1484604008414 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484601832063:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484601832063::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484601832063:-ms-input-placeholder{ font-size:15px; }

