.cta-lg-v0 { background: rgba(0, 0, 0, 0); }

.cta-sm-v0 { background: rgba(0, 0, 0, 0); }

.cta .textBox-1481944691876 { background: rgb(0, 0, 0); border-radius: 20px; font-size: 15px; }

.cta .textBox-1481944723575 { color: rgb(255, 255, 255); text-align: center; font-weight: initial; font-family: "Open Sans"; font-size: 13px; }

.cta .textBox-1481944869558 { color: rgb(252, 40, 71); text-align: center; font-family: "Open Sans"; font-size: 11px; }

.cta .icon-1484631467658 { font-family: "Open Sans"; }

.cta .textBox-1484883885228 { background: rgb(0, 0, 0); border-radius: 20px; font-size: 15px; }

.cta .emoji-1484883885280 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484883885319 { color: rgb(255, 255, 255); text-align: center; font-weight: initial; font-family: "Open Sans"; font-size: 13px; }

.cta .textBox-1484883885364 { color: rgb(252, 40, 71); text-align: center; font-family: "Open Sans"; font-size: 11px; }

.cta .icon-1484883885398 { font-family: "Open Sans"; }

.cta .emoji-1481944615605 { font-family: "Open Sans"; font-size: 15px; }

