.cta .shape-1484833762177 { background: rgba(12, 26, 40, 0.772549); font-size: 15px; }

.cta .icon-1484833951303 { color: rgb(31, 117, 254); font-family: "Open Sans"; }

.cta .textBox-1484833980510 { font-family: "Roboto Condensed"; color: rgb(201, 199, 199); font-style: italic; font-size: 17px; }

.cta .textBox-1484834052391 { font-family: "Roboto Condensed"; font-weight: bold; color: rgb(249, 249, 249); font-size: 16px; }

.cta .textBox-1484834180787 { text-align: center; font-family: "Source Sans Pro"; font-size: 24px; }

.cta .textBox-1484834288976 { text-align: center; font-weight: bold; color: rgb(73, 74, 77); font-size: 16px; font-family: "Open Sans"; }

.cta .textBox-1484834436929 { font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484834478736 { text-align: center; color: rgb(102, 102, 102); font-weight: initial; font-size: 16px; font-family: "Open Sans"; }

.cta .emailInput-1484834752045 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484834752045::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484834794605 { border-style: solid; border-color: rgba(0, 0, 0, 0); background: rgb(31, 117, 254); font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484835096857 { text-align: center; font-weight: bold; color: rgb(73, 74, 77); font-family: "Open Sans"; font-size: 16px; }

.cta .textBox-1484835096877 { text-align: center; color: rgb(102, 102, 102); font-weight: initial; font-size: 16px; font-family: "Open Sans"; }

.cta .icon-1484835142256 { color: rgb(31, 117, 254); font-family: "Open Sans"; }

.cta .emailInput-1484835160752 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484835160752::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484835180002 { border-style: solid; border-color: rgba(0, 0, 0, 0); background: rgb(31, 117, 254); font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 14px; }

.cta .shape-1484833785192 { background: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828167008:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484833161864:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484833161864::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484833161864:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484834752045:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484834752045::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484834752045:-ms-input-placeholder{ font-size:15px; }

