.cta .button-1481430771870 { border-color: rgb(3, 41, 109); font-weight: bold; border-left-width: 0px; text-align: center; font-family: Palanquin; font-size: 15px; }

.cta .icon-1481431018242 { color: rgb(3, 41, 109); font-family: "Open Sans"; font-size: 25.0197px; }

.cta .image-1481432123095 { font-size: 15px; font-family: "Open Sans"; }

.cta-sm-v0 { background: rgb(255, 255, 255); }

.cta .button-1481433582353 { border-color: rgb(3, 41, 109); font-weight: bold; text-align: center; font-family: Palanquin; font-size: 15px; }

.cta .icon-1481433745243 { color: rgb(3, 41, 109); font-family: "Open Sans"; font-size: 25.0197px; }

.cta .textBox-1481430478694 { text-align: center; font-weight: bold; color: rgb(242, 38, 19); font-family: "Open Sans"; font-size: 99px; }

.cta .textBox-1481430185351 { text-align: center; font-weight: bold; color: rgb(0, 46, 93); font-family: "Roboto Slab"; font-size: 36px; }

.cta .textBox-1481430630032 { text-align: center; font-weight: bold; font-family: "Open Sans"; font-size: 12px; }

.cta .emailInput-1481430742991 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1481431587329 { font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1481431505521 { text-align: left; font-family: "Open Sans"; font-weight: bold; font-size: 11.25px; }

.cta .textBox-1481433314594 { font-weight: bold; text-align: center; color: rgb(0, 46, 93); font-family: "Roboto Slab"; font-size: 24px; }

.cta .textBox-1481433404791 { text-align: center; color: rgb(242, 38, 19); font-weight: bold; font-family: "Open Sans"; font-size: 56px; }

.cta .textBox-1481433849833 { font-weight: bold; color: rgb(0, 46, 93); font-family: "Open Sans"; font-size: 10px; }

.cta .textBox-1481433582418 { font-family: "Open Sans"; font-weight: bold; font-size: 10px; }

.cta .textBox-1481433582384 { font-weight: bold; font-size: 15px; }

.cta .emailInput-1481430742991::-webkit-input-placeholder { font-size: 15px; }

.cta .icon-1484633723943 { font-family: "Open Sans"; }

.cta .image-1481430167796 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1481430742991:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1481430742991::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1481430742991:-ms-input-placeholder{ font-size:15px; }

