.cta-lg .button-1475701132002 { background: rgba(255, 255, 255, 0.00784314); border-width: 3px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-weight: bold; }

.cta-lg .button-1475701132002:hover, .cta-lg .button-1475701132002:focus, .cta-lg .button-1475701132002:active { background: rgba(230, 230, 230, 0.00784314); }

.cta-lg .textBox-1478543701868 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-size: 20px; }

.cta-sm .textBox-1475700934098 { background: rgb(90, 141, 142); border-radius: 10px; }

.cta-sm .button-1475701132002 { background: rgba(0, 0, 0, 0); border-width: 2px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-weight: bold; }

.cta-sm .button-1475701132002:hover, .cta-sm .button-1475701132002:focus, .cta-sm .button-1475701132002:active { background: rgba(0, 0, 0, 0); }

.cta-sm .shape-1475766167214 { border-bottom-color: rgb(90, 141, 142); }

.cta-sm .textBox-1478543701868 { font-size: 20px; font-weight: bold; text-align: center; color: rgb(255, 255, 255); }

.cta-sm { background: rgba(0, 0, 0, 0); }

.cta .textBox-1483703727766 { background: rgb(90, 141, 142); border-radius: 10px; }

.cta .button-1483703727768 { background: rgba(0, 0, 0, 0); border-width: 2px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .button-1483703727768:hover, .cta-sm .button-1483703727768:focus, .cta-sm .button-1483703727768:active { background: rgba(0, 0, 0, 0); }

.cta .shape-1483703727768 { border-bottom-color: rgb(90, 141, 142); }

.cta .textBox-1483703727768 { font-size: 20px; font-weight: bold; text-align: center; color: rgb(255, 255, 255); }

.cta-lg .textBox-1475700934098 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-radius: 10px; font-size: 20px; background: rgb(90, 141, 142); }

.cta-lg { background: rgba(0, 0, 0, 0); }

.cta .shape-1475766167214 { font-family: "Open Sans"; font-size: 15px; }

.cta-lg .shape-1475766167214 { border-bottom-color: rgb(90, 141, 142); }

