.cta-lg .textBox-1479669069212 { color: rgb(242, 38, 19); font-weight: bold; font-size: 24px; font-family: "Open Sans"; }

.cta-lg .textBox-1479669450146 { font-weight: initial; font-family: "Open Sans"; }

.cta-lg .textBox-1479669687257 { font-weight: initial; font-family: "Open Sans"; }

.cta-lg .button-1479669720971 { border-color: rgb(242, 38, 19); border-width: 3px; color: rgb(242, 38, 19); border-style: inset; background: rgba(236, 240, 241, 0.6); font-weight: bold; }

.cta-lg .shape-1479669883460 { border-width: 2px; border-style: solid; background: rgba(0, 0, 0, 0); }

.cta-lg .emoji-1479669918216 { background: rgba(0, 0, 0, 0); }

.cta-sm .textBox-1479752363262 { color: rgb(242, 38, 19); font-weight: bold; font-size: 24px; font-family: "Open Sans"; }

.cta-sm .textBox-1479752363328 { font-weight: bold; font-family: "Open Sans"; font-size: 14px; text-align: center; }

.cta-sm .textBox-1479752363524 { font-weight: initial; font-family: "Open Sans"; }

.cta-sm .textBox-1479752363639 { font-weight: initial; font-family: "Open Sans"; }

.cta-sm .button-1479752363674 { border-color: rgb(242, 38, 19); border-width: 3px; color: rgb(242, 38, 19); border-style: inset; background: rgba(236, 240, 241, 0.6); font-weight: bold; }

.cta-sm .shape-1479752363851 { border-width: 2px; border-style: solid; background: rgba(0, 0, 0, 0); }

.cta-sm .emoji-1479752363891 { background: rgba(0, 0, 0, 0); }

.cta .emoji-1479669411660 { font-family: "Open Sans"; font-size: 15px; }

.cta .emoji-1479669918216 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1479669720971 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1479752363262 { font-size: 24px; font-family: "Open Sans"; }

.cta .textBox-1479752363328 { font-family: "Open Sans"; }

.cta-lg .textBox-1479669092461 { font-weight: bold; font-family: "Open Sans"; font-size: 14px; text-align: center; }

