.cta .image-1484893799095 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484893816536 { background: rgb(255, 255, 255); font-size: 15px; }

.cta .textBox-1484893868752 { color: rgb(149, 145, 140); font-weight: bold; font-size: 20px; }

.cta .textBox-1484893904445 { font-weight: bold; color: rgb(255, 163, 67); font-size: 28px; }

.cta .emailInput-1484894006738::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484894006738 { font-size: 15px; }

.cta .button-1484894088060 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(28, 169, 201); color: rgb(255, 255, 255); font-weight: bold; font-size: 16px; }

.cta .shape-1484894260384 { background: rgb(255, 255, 255); font-size: 15px; }

.cta .image-1484894260396 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484894260421 { color: rgb(149, 145, 140); font-weight: bold; font-size: 20px; }

.cta .textBox-1484894260441 { font-weight: bold; color: rgb(255, 163, 67); font-size: 28px; }

.cta .emailInput-1484894260461::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484894260461 { font-size: 15px; }

.cta .button-1484894260484 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(28, 169, 201); color: rgb(255, 255, 255); font-weight: bold; font-size: 16px; }

.cta-14848936959830 { background: rgba(0, 0, 0, 0); }

.cta-14848936959831 { background: rgba(0, 0, 0, 0); }

.cta .emailInput-1484889530841:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484890538359:-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359::-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359:-ms-input-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031:-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031::-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484893432031:-ms-input-placeholder{ font-size:12px; }

.cta .emailInput-1484894006738:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484894006738::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484894006738:-ms-input-placeholder{ font-size:15px; }

