.cta .shape-1484490349192 { background: rgb(17, 17, 17); font-family: "Open Sans"; }

.cta .textBox-1484490448542 { color: rgb(17, 17, 17); font-weight: bold; font-family: Prompt; font-size: 28px; }

.cta .button-1484490785707 { background: rgb(232, 26, 34); color: rgb(255, 255, 255); text-align: left; font-weight: bold; border-width: 0px 0px 4px; border-style: solid; border-color: rgb(215, 18, 27); font-family: Prompt; font-size: 18px; }

.cta .textBox-1484491368702 { font-weight: bold; color: rgb(255, 255, 255); text-align: right; font-family: Prompt; }

.cta .image-1484491281503 { font-family: "Open Sans"; }

.cta .textBox-1484491496266 { font-weight: bold; font-family: Prompt; font-size: 48px; color: rgb(237, 28, 36); }

.cta .textBox-1484491647431 { font-family: Prompt; font-size: 20px; }

.cta .shape-1484491904341 { background: rgb(175, 14, 20); font-size: 15px; font-family: "Open Sans"; }

.cta .image-1484492059901 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484579456905 { text-align: center; color: rgb(237, 28, 36); text-decoration: underline; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484656747875 { color: rgb(17, 17, 17); font-weight: bold; font-family: Prompt; text-align: center; font-size: 26px; }

.cta .textBox-1484656747899 { font-weight: bold; color: rgb(237, 28, 36); text-align: center; font-family: Prompt; font-size: 36px; }

.cta .textBox-1484656786635 { font-family: Prompt; text-align: center; font-size: 18px; }

.cta .button-1484656829692 { background: rgb(232, 26, 34); color: rgb(255, 255, 255); font-weight: bold; border-width: 0px 0px 4px; border-style: solid; border-color: rgb(215, 18, 27); text-align: center; font-family: Prompt; font-size: 18px; }

.cta .textBox-1484656829714 { text-align: center; color: rgb(237, 28, 36); text-decoration: underline; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484656884639 { background: rgb(175, 14, 20); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484656884659 { font-size: 15px; font-family: "Open Sans"; }

.cta .shape-1484490298096 { background: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

