.cta .button-1484106557534 { background: rgb(0, 150, 136); color: rgb(255, 255, 255); border-radius: 8px; border-width: 3px; font-weight: initial; border-color: rgb(127, 203, 196); border-style: none; font-family: "Open Sans"; font-size: 24px; }

.cta .textBox-1484108010720 { text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 20px; }

.cta .shape-1484108704265 { background: rgba(8, 0, 0, 0.227451); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484108993081 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484109112029 { border-width: 4px; border-color: transparent; border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484661187980 { border-width: 4px; border-color: transparent; border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484661199587 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Source Sans Pro"; font-size: 26px; }

.cta .image-1484661226698 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484661244506 { text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; }

.cta .button-1484661269982 { background: rgb(0, 150, 136); color: rgb(255, 255, 255); border-radius: 8px; border-width: 3px; font-weight: initial; border-color: rgb(127, 203, 196); border-style: none; font-family: "Open Sans"; font-size: 20px; }

.cta .textBox-1484106282025 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Source Sans Pro"; font-size: 48px; }

