.cta-lg .button-1478728625856:hover, .cta-lg .button-1478728625856:focus, .cta-lg .button-1478728625856:active { background: rgba(179, 179, 179, 0.188235); }

.cta-sm .textBox-1478825211853 { background: rgb(255, 255, 255); border-style: solid; border-width: 2px; border-radius: 10px; }

.cta-sm .textBox-1478825211909 { text-align: center; font-family: Montserrat; font-style: initial; font-weight: initial; font-size: 14px; }

.cta-sm .button-1478825211917 { border-color: rgb(0, 0, 0); border-width: 2px; font-weight: bold; font-family: Montserrat; border-style: ridge; background: rgba(204, 204, 204, 0.188235); }

.cta-sm .button-1478825211917:hover, .cta-sm .button-1478825211917:focus, .cta-sm .button-1478825211917:active { background: rgba(179, 179, 179, 0.188235); }

.cta-lg { background: rgba(0, 0, 0, 0); }

.cta-lg .textBox-1478728444823 { background: rgb(255, 255, 255); border-style: solid; border-width: 2px; border-radius: 10px; }

.cta-lg .textBox-1478728533919 { text-align: center; font-family: Montserrat; font-style: initial; font-weight: initial; font-size: 14px; }

.cta-lg .button-1478728625856 { border-color: rgb(0, 0, 0); border-width: 2px; font-weight: bold; font-family: Montserrat; border-style: ridge; background: rgba(204, 204, 204, 0.188235); }

.cta .image-1478728377407 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1478728533919 { font-family: Montserrat; font-size: 14px; }

.cta .button-1478728625856 { font-size: 15px; }

.cta-sm { background: rgba(0, 0, 0, 0); }

