.cta .button-1480660688445 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(46, 204, 113); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480660652190-copyOf459-20161202090454459177-copyOf458-20161202084836050035 { border-color: rgba(204, 204, 204, 0.490196); }

.cta .textBox-1480660907249 { font-weight: initial; font-size: 16px; text-align: center; color: rgb(255, 255, 255); }

.cta .shape-1480661682072 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(101, 126, 143); }

.cta .shape-1480661842490 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(255, 255, 255); }

.cta .shape-1484601831944 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(255, 255, 255); }

.cta .shape-1484601831955 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(101, 126, 143); }

.cta .textBox-1484601832053 { font-style: initial; font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Montserrat; font-size: 26px; }

.cta .emailInput-1484601832063 { border-color: rgba(204, 204, 204, 0.490196); font-size: 15px; font-family: "Open Sans"; }

.cta .button-1484601832114 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(46, 204, 113); font-family: "Open Sans"; }

.cta .textBox-1484601832163 { font-weight: initial; text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; }

.cta .image-1484601832478 { font-family: "Open Sans"; font-size: 15px; }

.cta .icon-1484601906777 { color: rgb(255, 255, 255); }

.cta .emailInput-1484601832063::-webkit-input-placeholder { font-size: 15px; }

.cta .icon-1484886693214 { color: rgb(255, 255, 255); }

.cta .textBox-1480660310729 { font-style: initial; font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-size: 35px; font-family: Montserrat; }

.cta .emailInput-1484601832063:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484601832063::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484601832063:-ms-input-placeholder{ font-size:15px; }

