.cta .textBox-1480481943711 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Prompt; font-size: 40px; }

.cta .button-1480482396921 { color: rgb(255, 255, 255); background: rgb(242, 38, 19); font-weight: bold; border-color: rgb(242, 38, 19); font-family: Montserrat; font-size: 15px; }

.cta .textBox-1480482903033 { font-weight: bold; color: rgb(255, 255, 255); text-align: left; font-family: Prompt; font-size: 40px; }

.cta .textBox-1480483104232 { color: rgb(252, 252, 252); font-weight: bold; text-decoration: none; font-family: "Comic Sans MS"; font-size: 15px; }

.cta .image-1480483389416 { font-family: "Open Sans"; }

.cta .emailInput-1484660757780 { border-radius: 4px; border-color: transparent; border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484660757780::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484660925751 { font-weight: bold; color: rgb(255, 255, 255); text-align: left; font-family: Prompt; font-size: 24px; }

.cta .emailInput-1484660972932 { border-radius: 4px; border-color: transparent; border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484660972932::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484660972948 { color: rgb(255, 255, 255); background: rgb(242, 38, 19); font-weight: bold; border-color: rgb(242, 38, 19); font-family: Montserrat; font-size: 14px; }

.cta .textBox-1484661018651 { color: rgb(252, 252, 252); font-weight: bold; text-decoration: none; font-family: "Comic Sans MS"; font-size: 15px; }

.cta .shape-1484843173056 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.247059); }

.cta .shape-1484843119208 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.247059); }

.cta .emailInput-1484660757780:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484660757780::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484660757780:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484660972932:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484660972932::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484660972932:-ms-input-placeholder{ font-size:15px; }

