.cta-lg .shape-1475608739919 { background: rgb(59, 59, 59); }

.cta-lg .shape-1475608819872 { background: rgb(79, 79, 79); }

.cta-lg .shape-1475608749742 { border-top-color: rgb(59, 59, 59); }

.cta-lg .shape-1475608097974 { border-top-color: rgb(232, 148, 26); }

.cta-lg .textBox-1475608247422 { color: rgb(255, 255, 255); font-weight: initial; font-size: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.cta-lg .textBox-1475608253862 { color: rgb(255, 255, 255); font-weight: bold; font-size: 55px; }

.cta-lg .textBox-1475608409891 { color: rgb(255, 255, 255); font-size: 23px; }

.cta-lg .textBox-1475611615504 { color: rgb(255, 255, 255); font-size: 20px; }

.cta-lg .textBox-1475608428952 { color: rgb(255, 255, 255); font-size: 23px; font-weight: bold; }

.cta-lg .textBox-1475613257636 { font-weight: bold; color: rgba(0, 0, 0, 0.780392); font-size: 29px; }

.cta-lg .shape-1475613820534 { border-top-color: rgb(79, 79, 79); }

.cta-lg .shape-1475613894846 { border-top-color: rgb(79, 79, 79); }

.cta-lg .textBox-1475614948788 { color: rgb(255, 255, 255); font-weight: bold; font-size: 60px; }

.cta-lg .textBox-1475615022220 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-size: 17px; }

.cta-lg .textBox-1475615556345 { color: rgb(255, 255, 255); font-weight: bold; font-size: 30px; }

.cta-lg .textBox-1475615734370 { color: rgb(255, 255, 255); font-weight: bold; font-size: 16px; }

.cta-lg .textBox-1475616110935 { color: rgba(255, 255, 255, 0.682353); font-weight: initial; font-size: 35px; }

.cta .shape-1475608097974 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1475608247422 { font-size: 20px; font-family: Verdana; }

.cta .textBox-1484621288136 { color: rgb(255, 255, 255); font-weight: initial; font-family: Verdana; font-size: 20px; }

.cta .textBox-1475608253862 { font-family: "Open Sans"; font-size: 55px; }

.cta .textBox-1484621347633 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 26px; }

.cta .textBox-1475608409891 { font-size: 23px; }

.cta .shape-1484621247000 { border-top-color: rgb(232, 148, 26); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484621399175 { color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 14px; }

.cta .image-1475685033352 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1475611615504 { font-family: "Open Sans"; }

.cta .image-1484621462118 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484621462131 { color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 14px; }

.cta .textBox-1475608428952 { font-size: 23px; font-family: "Open Sans"; }

.cta .textBox-1475613257636 { font-family: "Open Sans"; }

.cta .textBox-1484621497425 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 16px; }

.cta .textBox-1484621497451 { font-weight: bold; color: rgba(0, 0, 0, 0.780392); font-family: "Open Sans"; font-size: 16px; }

.cta .image-1484621253086 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1475608749742 { font-size: 15px; }

.cta .textBox-1475615556345 { font-family: "Open Sans"; font-size: 30px; }

.cta .shape-1475608819872 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1475613894846 { font-family: "Open Sans"; }

.cta .shape-1475613820534 { font-family: "Open Sans"; }

.cta .textBox-1475614948788 { font-family: "Open Sans"; font-size: 60px; }

.cta .textBox-1475615022220 { font-family: "Open Sans"; }

.cta .textBox-1484621631509 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 28px; }

.cta .textBox-1484621631534 { text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; font-weight: initial; }

.cta .shape-1484621631554 { border-top-color: rgb(59, 59, 59); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484621631574 { background: rgb(59, 59, 59); font-size: 15px; }

.cta .textBox-1475615734370 { font-size: 16px; }

.cta .textBox-1475616110935 { font-size: 35px; }

.cta .button-1484621790612 { font-size: 15px; background: rgb(0, 0, 0); border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold; text-align: left; font-family: Roboto; }

.cta .textBox-1484621854882 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 28px; }

.cta .textBox-1484621854898 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 16px; }

.cta .shape-1484621854924 { border-top-color: rgb(59, 59, 59); font-size: 15px; }

.cta .shape-1484621854944 { background: rgb(59, 59, 59); font-size: 15px; }

.cta .textBox-1484621857409 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 28px; }

.cta .textBox-1484621857434 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 16px; }

.cta .shape-1484621857455 { border-top-color: rgb(59, 59, 59); font-size: 15px; }

.cta .shape-1484621857483 { background: rgb(59, 59, 59); font-size: 15px; }

.cta .image-1484621272964 { font-family: "Open Sans"; }

.cta .textBox-1484621970449 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; text-align: left; font-size: 14px; }

.cta .shape-1475608739919 { font-size: 15px; }

.cta .textBox-1484621371428 { color: rgb(255, 255, 255); font-size: 23px; }

