.cta .textBox-1484459122320 { font-weight: bold; color: rgb(2, 164, 228); font-family: Raleway; font-size: 20px; }

.cta .emailInput-1484460038742 { font-family: "Open Sans"; font-size: 15px; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(28, 169, 227); }

.cta .emailInput-1484460038742::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484460081628 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; background: rgb(2, 164, 228); border-style: none; border-color: rgb(204, 204, 204); }

.cta .image-1484460744925 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484579097295 { background: rgb(249, 249, 249); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484579097316 { font-weight: bold; color: rgb(2, 164, 228); font-family: Raleway; font-size: 20px; }

.cta .emailInput-1484579097395 { font-family: "Open Sans"; font-size: 15px; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(28, 169, 227); }

.cta .emailInput-1484579097395::-webkit-input-placeholder { font-size: 15px; }

.cta .image-1484579097455 { font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484579097537 { color: rgb(255, 255, 255); font-weight: bold; background: rgb(2, 164, 228); border-style: none; border-color: rgb(204, 204, 204); font-family: "Open Sans"; font-size: 15px; }

.cta-14844586681191 { border-color: rgb(149, 145, 140); border-width: 1px; }

.cta-14844586681190 { border-color: rgb(149, 145, 140); }

.cta .shape-1484458835770 { background: rgb(249, 249, 249); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484460038742:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484460038742::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484460038742:-ms-input-placeholder{ font-size:15px; }

