<div> 
<!--
    <div class="select-box-actions" bl-context-box-actions>
        <span class="element-tag"></span>
        <i class="icon icon-trash" data-action="delete"></i>
    </div>
-->
    <div class="resize-handles">
        <span data-direction="nw" class="drag-handle nw-handle"></span>
        <span data-direction="n" class="drag-handle n-handle"></span>
        <span data-direction="ne" class="drag-handle ne-handle"></span>
        <span data-direction="e" class="drag-handle e-handle"></span>
        <span data-direction="se" class="drag-handle se-handle"></span>
        <span data-direction="s" class="drag-handle s-handle"></span>
        <span data-direction="sw" class="drag-handle sw-handle"></span>
        <span data-direction="w" class="drag-handle w-handle"></span>
    </div>
</div>