.cta-lg-v0 { background: rgba(0, 0, 0, 0); }

.cta .image-1481946787037 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1481946941604 { border-radius: 20px; border-width: 2px; border-style: solid; border-color: rgb(0, 0, 0); background: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1481947171415 { background: rgba(0, 0, 0, 0); text-align: center; font-family: Cabin; font-size: 20px; }

.cta .emoji-1481947277080 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1481947352433 { background: rgba(0, 0, 0, 0); font-size: 15px; color: rgb(29, 249, 20); font-family: "Open Sans"; }

.cta .textBox-1481947386578 { color: rgb(252, 40, 71); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1481947725761 { font-family: "Open Sans"; font-size: 15px; background: rgb(0, 0, 0); }

.cta .icon-1481947923920 { font-size: 27.0863px; background: rgba(0, 0, 0, 0); color: rgb(118, 255, 122); font-family: "Open Sans"; }

.cta .icon-1481947932376 { background: rgba(0, 0, 0, 0); color: rgb(118, 255, 122); font-family: "Open Sans"; font-size: 27.0863px; }

.cta .textBox-1481947947587 { font-family: Cabin; font-size: 15px; }

.cta .textBox-1481947957719 { font-size: 15px; font-family: Cabin; }

.cta .button-1481948043430 { border-width: 3px; border-color: rgb(0, 0, 0); font-weight: bold; border-style: double; background: rgba(0, 0, 0, 0); font-family: Cabin; font-size: 18px; }

.cta .icon-1481948137747 { font-family: "Open Sans"; font-size: 19.68px; }

.cta .image-1481947906044 { font-size: 15px; font-family: "Open Sans"; }

.cta .icon-1484633981035 { font-family: "Open Sans"; }

.cta .textBox-1484633995973 { border-radius: 20px; border-width: 2px; border-style: solid; border-color: rgb(0, 0, 0); background: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484633995985 { font-family: "Open Sans"; font-size: 15px; background: rgb(0, 0, 0); }

.cta .image-1484633996007 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484633996026 { background: rgba(0, 0, 0, 0); text-align: center; font-family: Cabin; font-size: 20px; }

.cta .emoji-1484633996046 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484633996125 { font-size: 15px; font-family: "Open Sans"; }

.cta .icon-1484633996145 { font-size: 27.0863px; background: rgba(0, 0, 0, 0); color: rgb(118, 255, 122); font-family: "Open Sans"; }

.cta .icon-1484633996166 { background: rgba(0, 0, 0, 0); color: rgb(118, 255, 122); font-family: "Open Sans"; font-size: 27.0863px; }

.cta .textBox-1484633996187 { font-size: 15px; font-family: Cabin; }

.cta .textBox-1484633996209 { font-size: 15px; font-family: Cabin; }

.cta .button-1484633996230 { border-width: 3px; border-color: rgb(0, 0, 0); font-weight: bold; border-style: double; background: rgba(0, 0, 0, 0); font-family: Cabin; font-size: 18px; }

.cta .icon-1484633996279 { font-family: "Open Sans"; }

.cta .icon-1484878488865 { background: rgba(0, 0, 0, 0); color: rgb(29, 249, 20); font-family: "Open Sans"; }

.cta .icon-1484878573356 { background: rgba(0, 0, 0, 0); color: rgb(255, 83, 73); }

.cta .icon-1484878636992 { background: rgba(0, 0, 0, 0); color: rgb(29, 249, 20); font-family: "Open Sans"; }

.cta .textBox-1484878637006 { background: rgba(0, 0, 0, 0); font-size: 15px; color: rgb(29, 249, 20); font-family: "Open Sans"; }

.cta .icon-1484878637041 { background: rgba(0, 0, 0, 0); color: rgb(255, 83, 73); }

.cta .textBox-1484878637078 { color: rgb(252, 40, 71); font-family: "Open Sans"; font-size: 15px; }

.cta-sm-v0 { background: rgba(0, 0, 0, 0); }

