.cta .shape-1484889198766 { background: rgb(255, 255, 255); border-radius: 15px; border-color: rgba(0, 0, 0, 0); border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484889355228 { background: rgb(237, 237, 237); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484889237528 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484889530841 { border-width: 0px 0px 2px; border-style: solid; border-color: rgb(25, 158, 189); font-size: 15px; font-family: "Open Sans"; }

.cta .button-1484889551050 { border-style: none; color: rgb(255, 255, 255); font-weight: bold; background: rgb(25, 158, 189); font-size: 16px; font-family: "Open Sans"; }

.cta .emailInput-1484889530841::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484889679849 { font-weight: bold; font-family: "Open Sans"; color: rgb(219, 215, 210); font-size: 20px; }

.cta .textBox-1484889842839 { color: rgb(25, 158, 189); font-family: "Open Sans"; font-weight: bold; font-size: 31px; }

.cta .icon-1484889926000 { color: rgb(219, 215, 210); }

.cta .textBox-1484889998199 { color: rgb(102, 102, 102); font-size: 17px; }

.cta .shape-1484890327734 { background: rgb(255, 255, 255); border-radius: 15px; border-color: rgba(0, 0, 0, 0); border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484890352098 { background: rgb(237, 237, 237); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484890367110 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484890449411 { color: rgb(25, 158, 189); font-family: "Open Sans"; font-weight: bold; background: rgba(0, 0, 0, 0); font-size: 20px; }

.cta-14848888159290 { background: rgba(0, 0, 0, 0); }

.cta .emailInput-1484890538359 { border-width: 0px 0px 2px; border-style: solid; border-color: rgb(25, 158, 189); font-family: "Open Sans"; font-size: 12px; }

.cta .emailInput-1484890538359::-webkit-input-placeholder { font-size: 12px; }

.cta .button-1484890538372 { border-style: none; color: rgb(255, 255, 255); font-weight: bold; background: rgb(25, 158, 189); font-family: "Open Sans"; font-size: 12px; }

.cta .textBox-1484890616567 { color: rgb(102, 102, 102); font-size: 11px; }

.cta-14848888159291 { background: rgba(0, 0, 0, 0); }

.cta .emailInput-1484889530841:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484889530841:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484890538359:-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359::-moz-placeholder{ font-size:12px; }

.cta .emailInput-1484890538359:-ms-input-placeholder{ font-size:12px; }

