.cta-lg .button-1478720131388:hover, .cta-lg .button-1478720131388:focus, .cta-lg .button-1478720131388:active { background: rgba(0, 0, 0, 0.0392157); }

.cta-sm { background: rgba(0, 0, 0, 0); }

.cta-lg { background: rgba(0, 0, 0, 0); }

.cta-sm .shape-1478826508339 { background: rgba(30, 30, 32, 0.658824); }

.cta-sm .textBox-1478826508388 { font-family: Montserrat; text-align: center; font-weight: initial; color: rgb(78, 195, 126); font-size: 29px; }

.cta-sm .button-1478826508397 { font-size: 20px; border-width: 4px; color: rgb(255, 255, 255); font-family: Montserrat; font-weight: initial; border-color: rgb(255, 255, 255); text-align: left; border-radius: 30px; background: rgba(5, 5, 6, 0.0392157); border-style: groove; }

.cta-sm .button-1478826508397:hover, .cta-sm .button-1478826508397:focus, .cta-sm .button-1478826508397:active { background: rgba(0, 0, 0, 0.0392157); }

.cta-lg .shape-1478552830039 { background: rgba(30, 30, 32, 0.658824); }

.cta-lg .button-1478720131388 { font-size: 20px; border-width: 4px; color: rgb(255, 255, 255); font-family: Montserrat; font-weight: initial; border-color: rgb(255, 255, 255); text-align: left; border-radius: 30px; background: rgba(5, 5, 6, 0.0392157); border-style: groove; }

.cta .button-1478826508397 { font-family: Montserrat; font-size: 20px; }

.cta .textBox-1478826508388 { font-family: Montserrat; font-size: 29px; }

.cta .shape-1478826508339 { font-family: "Open Sans"; font-size: 15px; }

.cta .emoji-1478826508317 { font-family: "Open Sans"; font-size: 15px; }

.cta-lg .textBox-1478719922020 { font-family: Montserrat; text-align: center; font-weight: initial; color: rgb(78, 195, 126); font-size: 29px; }

