.cta .textBox-1480506489559 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-color: rgb(255, 255, 255); border-width: 2px; border-style: none; font-size: 45px; font-family: "Roboto Condensed"; }

.cta .shape-1480506555802 { background: rgba(0, 0, 1, 0.278431); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1480506717841 { border-width: 4px; border-color: rgb(255, 255, 255); border-style: solid; }

.cta .textBox-1480506755672 { color: rgb(255, 255, 255); font-size: 66px; }

.cta .textBox-1480506799256 { color: rgb(255, 255, 255); font-size: 66px; }

.cta .textBox-1480506839191 { color: rgb(255, 255, 255); font-weight: bold; font-size: 20px; }

.cta .button-1480507034347 { border-style: none; background: rgb(25, 181, 254); color: rgb(255, 255, 255); font-weight: bold; font-size: 16px; font-family: "Open Sans"; }

.cta .emailInput-1480507013980 { border-style: none; font-size: 15px; font-family: "Open Sans"; }

.cta .image-1484633313689 { border-width: 4px; border-color: rgb(255, 255, 255); border-style: solid; }

.cta .shape-1484633340026 { background: rgba(0, 0, 1, 0.278431); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484633349472 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-color: rgb(255, 255, 255); border-width: 2px; border-style: none; font-family: "Roboto Condensed"; font-size: 24px; }

.cta .textBox-1484633349482 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-color: rgb(255, 255, 255); border-width: 2px; border-style: none; font-family: "Roboto Condensed"; font-size: 24px; }

.cta .textBox-1484633349519 { color: rgb(255, 255, 255); font-size: 66px; }

.cta .textBox-1484633403929 { color: rgb(255, 255, 255); font-weight: bold; text-align: center; font-family: "Open Sans"; font-size: 16px; }

.cta .emailInput-1480507013980::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484633469840 { border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484633469840::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484633469852 { border-style: none; background: rgb(25, 181, 254); color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 16px; }

.cta .textBox-1480505700988 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-color: rgb(255, 255, 255); border-width: 2px; border-style: none; font-size: 45px; font-family: "Roboto Condensed"; }

.cta .emailInput-1480507013980:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480507013980::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480507013980:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484633469840:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484633469840::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484633469840:-ms-input-placeholder{ font-size:15px; }

