.cta-sm-v0 { background: rgba(0, 0, 0, 0); }

.cta .emoji-1481943636315 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1481943675566 { border-width: 2px 2px 2px 0px; border-style: solid; background: rgb(255, 255, 255); text-align: center; border-radius: 10px; font-family: Montserrat; font-size: 16px; }

.cta .shape-1481944069301 { background: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1482035930441 { font-family: Lato; font-size: 15px; }

.cta .textBox-1482036223952 { background: rgb(222, 232, 241); border-radius: 5px; font-family: Lato; text-align: center; font-size: 10px; }

.cta .textBox-1482036372302 { background: rgb(222, 232, 241); border-radius: 5px; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1482036481090 { font-family: "Open Sans"; font-size: 10px; }

.cta .textBox-1482036541907 { font-size: 10px; }

.cta .icon-1483714419211 { font-family: "Open Sans"; background: rgba(0, 0, 0, 0); color: rgb(40, 95, 170); font-size: 29.7px; }

.cta .icon-1483714411127 { background: rgba(0, 0, 0, 0); color: rgb(120, 219, 226); font-size: 30.69px; }

.cta .textBox-1484631293190 { border-width: 2px 2px 2px 0px; border-style: solid; background: rgb(255, 255, 255); text-align: center; border-radius: 10px; font-family: Montserrat; font-size: 16px; }

.cta .emoji-1484631293239 { font-size: 15px; font-family: "Open Sans"; }

.cta .shape-1484631293258 { background: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484631293275 { font-size: 15px; font-family: Lato; }

.cta .textBox-1484631293294 { background: rgb(222, 232, 241); border-radius: 5px; font-family: Lato; text-align: center; font-size: 10px; }

.cta .textBox-1484631293328 { background: rgb(222, 232, 241); border-radius: 5px; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484631293347 { font-family: "Open Sans"; font-size: 10px; }

.cta .textBox-1484631293366 { font-size: 10px; }

.cta .icon-1484631293386 { background: rgba(0, 0, 0, 0); color: rgb(120, 219, 226); font-size: 30.69px; }

.cta .icon-1484631293405 { font-family: "Open Sans"; background: rgba(0, 0, 0, 0); color: rgb(40, 95, 170); font-size: 29.7px; }

.cta-lg-v0 { background: rgba(0, 0, 0, 0); }

