    <div><button ng-click="aivaElementSelected($event, 'button', 'btn-edged')" type="button" class="btn btn-edged">Draw Me</button></div>
    <div><button ng-click="aivaElementSelected($event, 'button', 'btn-default')" type="button" class="btn btn-default">Draw Me</button></div>
    <div><button ng-click="aivaElementSelected($event, 'button', 'btn-rounded')" type="button" class="btn btn-rounded">Draw Me</button></div>
    <div><button ng-click="aivaElementSelected($event, 'button', 'btn-circle')" type="button" class="btn btn-circle">Draw Me</button></div>
