<div class="aiva-element-container">
    <div class="aiva-element-item">
        <div class="shape-selector shape-circle" ng-click="aivaElementSelected($event, 'shape', 'circle')">
        </div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-rectangle" ng-click="aivaElementSelected($event, 'shape', 'rectangle')"></div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-up" ng-click="aivaElementSelected($event, 'shape', 'triangle-up')"></div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-ellipse" ng-click="aivaElementSelected($event, 'shape', 'ellipse')"></div>
    </div>
</div>

<div class="aiva-element-container">
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-down" ng-click="aivaElementSelected($event, 'shape', 'triangle-down')">
        </div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-left" ng-click="aivaElementSelected($event, 'shape', 'triangle-left')"></div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-right" ng-click="aivaElementSelected($event, 'shape', 'triangle-right')"></div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-bottom-left" ng-click="aivaElementSelected($event, 'shape', 'triangle-bottom-left')"></div>
    </div>
</div>
<div class="aiva-element-container">
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-bottom-right" ng-click="aivaElementSelected($event, 'shape', 'triangle-bottom-right')">
        </div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-top-left" ng-click="aivaElementSelected($event, 'shape', 'triangle-top-left')"></div>
    </div>
    <div class="aiva-element-item">
        <div class="shape-selector shape-triangle-top-right" ng-click="aivaElementSelected($event, 'shape', 'triangle-top-right')"></div>
    </div>
    <div class="aiva-element-item">
        <!-- empty spot -->
    </div>
</div>