.cta .textBox-1484758163918 { font-weight: bold; color: rgb(50, 50, 50); font-size: 24px; font-family: "Palanquin Dark"; }

.cta .textBox-1484758235405 { font-weight: bold; color: rgb(50, 50, 50); font-family: "Palanquin Dark"; font-size: 65px; }

.cta .button-1484758414795 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); text-align: left; background: rgb(25, 158, 189); font-size: 22px; font-family: "Palanquin Dark"; }

.cta .shape-1484758773165 { background: rgb(246, 246, 246); font-family: "Open Sans"; font-size: 15px; }

.cta .icon-1484759018651 { font-family: "Open Sans"; }

.cta .shape-1484759066177 { background: rgb(246, 246, 246); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484759075221 { font-weight: bold; color: rgb(50, 50, 50); font-family: "Palanquin Dark"; font-size: 28px; }

.cta .button-1484759110127 { border-style: none; border-color: rgb(204, 204, 204); color: rgb(255, 255, 255); text-align: left; background: rgb(25, 158, 189); font-family: "Palanquin Dark"; font-size: 14px; }

.cta .textBox-1484759110143 { font-weight: bold; color: rgb(50, 50, 50); font-family: "Palanquin Dark"; font-size: 14px; }

.cta .icon-1484759203558 { font-family: "Open Sans"; }

.cta .textInput-1484754327326:-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326::-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-ms-input-placeholder{ font-size:15px; }

