.cta-sm .textBox-1476213618705 { border-width: 0px 0px 2px; border-style: solid; border-color: rgba(34, 34, 34, 0.239216); }

.cta-lg .textBox-1476213618705 { border-width: 0px 0px 2px; border-style: solid; border-color: rgba(34, 34, 34, 0.239216); }

.cta-sm .textBox-1476214067126 { background: rgba(30, 30, 32, 0.568627); }

.cta-lg .textBox-1476214067126 { background: rgba(30, 30, 32, 0.568627); }

.cta-sm .textBox-1476226118674 { color: rgb(149, 165, 166); }

.cta-lg .textBox-1476226118674 { color: rgb(149, 165, 166); }

.cta-sm .textBox-1476226174038 { font-size: 100px; font-weight: bold; color: rgb(239, 4, 126); }

.cta-lg .textBox-1476226174038 { font-size: 100px; font-weight: bold; color: rgb(239, 4, 126); }

.cta-sm { background: rgb(238, 238, 238); }

.cta-lg { background: rgb(238, 238, 238); }

.cta-lg .textBox-1476213055734 { font-weight: initial; }

.cta-sm .textBox-1476213675952 { font-size: 20px; font-family: "Open Sans"; }

.cta-lg .textBox-1476213675952 { font-size: 20px; font-family: "Open Sans"; }

.cta-sm .button-1476213937280 { border-width: 0px; border-radius: 0px; font-size: 20px; font-weight: bold; background: rgba(239, 4, 126, 0.741176); }

.cta-sm .button-1476213937280:hover, .cta-sm .button-1476213937280:focus, .cta-sm .button-1476213937280:active { background: rgba(189, 3, 100, 0.741176); }

.cta-lg .button-1476213937280 { border-width: 0px; border-radius: 0px; font-size: 20px; font-weight: bold; background: rgba(239, 4, 126, 0.741176); }

.cta-lg .button-1476213937280:hover, .cta-lg .button-1476213937280:focus, .cta-lg .button-1476213937280:active { background: rgba(189, 3, 100, 0.741176); }

.cta-sm .textBox-1476213055734 { font-size: 39px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: initial; }

.cta .emailInput-1476213910295 { font-family: "Open Sans"; color: rgb(111, 111, 111); font-size: 15px; }

.cta .emailInput-1476213910295::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta .image-1476213596736 { font-size: 15px; }

.cta .image-1484626282918 { font-size: 15px; }

.cta .textBox-1476213055734 { font-size: 39px; font-family: "Open Sans"; }

.cta .textBox-1476226174038 { font-family: "Open Sans"; font-size: 100px; }

.cta .textBox-1484626315477 { font-weight: initial; font-family: "Open Sans"; font-size: 18px; }

.cta .textBox-1484626315488 { font-weight: bold; color: rgb(239, 4, 126); font-family: "Open Sans"; font-size: 50px; }

.cta .textBox-1476213675952 { font-size: 20px; }

.cta .textBox-1484626343646 { font-family: "Open Sans"; font-weight: bold; font-size: 16px; }

.cta .textBox-1476226118674 { font-size: 15px; }

.cta .emailInput-1484626432664 { font-family: "Open Sans"; color: rgb(111, 111, 111); font-size: 15px; }

.cta .emailInput-1484626432664::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta .button-1484626444615 { border-width: 0px; border-radius: 0px; font-weight: bold; background: rgba(239, 4, 126, 0.741176); color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 15px; }

.cta .button-1476213937280 { color: rgb(255, 255, 255); font-size: 20px; }

.cta .textBox-1484626420612 { color: rgb(149, 165, 166); font-size: 15px; }

.cta .textBox-1476214067126 { }

.cta .button-1484626444615:hover, .cta .button-1484626444615:focus, .cta .button-1484626444615:active { background: rgba(189, 3, 100, 0.741176); }

.cta .textBox-1484626538738 { background: rgba(30, 30, 32, 0.568627); }

.cta .textBox-1484626551866 { background: rgba(30, 30, 32, 0.568627); }

.cta .emailInput-1476213910295:-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1476213910295::-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1476213910295:-ms-input-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1483711976380:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1483711976380::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1483711976380:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484626432664:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484626432664::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484626432664:-ms-input-placeholder{ font-size:15px; }

