.cta-lg .textBox-1475696968160 { color: rgb(255, 255, 255); font-weight: bold; text-align: center; text-decoration: underline; font-family: "Open Sans"; font-size: 38px; }

.cta-lg .textBox-1475697065894 { text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; }

.cta-lg .button-1475697130366 { font-weight: bold; font-size: 30px; font-family: "Open Sans"; }

.cta-lg { background: rgb(34, 49, 63); }

.cta-sm .textBox-1475696968160 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 40px; text-align: center; font-weight: bold; text-decoration: underline; color: rgb(255, 255, 255); }

.cta-sm .textBox-1475697065894 { text-align: center; color: rgb(255, 255, 255); }

.cta-sm .button-1475697130366 { font-size: 30px; font-weight: bold; }

.cta .button-1475697130366 { font-family: "Open Sans"; color: rgb(255, 255, 255); border-style: none; font-size: 30px; }

.cta .textBox-1475696968160 { font-family: "Open Sans"; font-size: 38px; }

.cta .textBox-1484622178598 { text-align: center; font-weight: bold; text-decoration: underline; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 35px; }

.cta .textBox-1475697065894 { font-size: 15px; }

.cta-sm { background: rgb(34, 49, 63); }

.cta .textBox-1484622205270 { font-family: "Open Sans"; text-align: center; color: rgb(255, 255, 255); font-size: 15px; }

.cta .button-1484622238125 { font-weight: bold; font-family: "Open Sans"; color: rgb(255, 255, 255); border-style: none; font-size: 30px; }

