.cta .image-1480660288784 { border-width: 3px; border-style: solid; border-color: rgb(250, 250, 250); font-family: "Open Sans"; }

.cta .shape-1480660587110 { background: rgba(255, 255, 255, 0.529412); }

.cta .button-1480660688445 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(249, 105, 14); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480660652190 { border-color: rgba(204, 204, 204, 0.490196); }

.cta .textBox-1480660907249 { font-weight: initial; font-size: 16px; }

.cta .image-1484602072423 { border-width: 3px; border-style: solid; border-color: rgb(250, 250, 250); font-family: "Open Sans"; }

.cta .textBox-1484602072481 { font-style: initial; font-weight: bold; color: rgb(29, 187, 181); text-align: center; font-family: Montserrat; font-size: 20px; }

.cta .emailInput-1484602072790 { border-color: rgba(204, 204, 204, 0.490196); font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484602072843 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(249, 105, 14); }

.cta .emailInput-1484602072790::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1480660310729 { font-family: Montserrat; font-size: 35px; font-style: initial; font-weight: bold; color: rgb(29, 187, 181); }

.cta .emailInput-1484602072790:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484602072790::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484602072790:-ms-input-placeholder{ font-size:15px; }

