.cta-sm-v0 { background: rgba(0, 0, 0, 0); }

.cta .shape-1481942925266 { font-family: "Open Sans"; background: rgb(255, 255, 255); border-width: 2px; border-style: solid; font-size: 15px; }

.cta .textBox-1481942970976 { text-align: center; font-family: Montserrat; font-size: 19px; }

.cta .textBox-1481943077235 { font-weight: initial; font-family: Montserrat; font-size: 15px; }

.cta .icon-1481943130815 { font-family: "Open Sans"; font-size: 20.6423px; }

.cta .icon-1483698862742 { font-family: "Open Sans"; font-size: 52.47px; }

.cta .icon-1483698870798 { font-size: 57.42px; }

.cta .shape-1484655867838 { background: rgb(255, 255, 255); border-width: 2px; border-style: solid; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484655867853 { text-align: center; font-family: Montserrat; font-size: 19px; }

.cta .textBox-1484655867870 { font-weight: initial; font-family: Montserrat; font-size: 15px; }

.cta .icon-1484655867887 { font-family: "Open Sans"; font-size: 20.6423px; }

.cta .icon-1484655867907 { font-family: "Open Sans"; font-size: 52.47px; }

.cta .icon-1484655867925 { font-size: 57.42px; }

.cta .icon-1484655896130 { font-family: "Open Sans"; }

.cta .icon-1484655918124 { font-family: "Open Sans"; }

.cta-lg-v0 { background: rgba(0, 0, 0, 0); }

