.cta .textBox-1480502317232 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px; font-size: 46px; font-family: Raleway; }

.cta .textBox-1480502623152 { color: rgb(255, 255, 255); text-align: left; font-family: Merriweather; font-size: 20px; }

.cta .shape-1480503313259 { background: rgba(0, 0, 0, 0.2); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1480503383490 { color: rgb(255, 255, 255); font-family: Merriweather; font-size: 20px; text-align: left; }

.cta .button-1480503462128 { background: rgb(248, 148, 6); border-color: rgb(248, 148, 6); border-style: none; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480503450161 { border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1480503685975 { color: rgb(255, 255, 255); text-align: left; font-size: 12px; }

.cta .textBox-1484659522395 { color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px; text-align: left; font-size: 28px; font-family: Raleway; }

.cta .emailInput-1480503450161::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484659568504 { border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484659568504::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484659577129 { background: rgb(248, 148, 6); border-color: rgb(248, 148, 6); border-style: none; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659620559 { color: rgb(255, 255, 255); text-align: left; font-family: Merriweather; font-size: 12px; }

.cta .textBox-1484659620582 { color: rgb(255, 255, 255); text-align: left; font-family: Merriweather; font-size: 12px; }

.cta .shape-1484659676860 { background: rgba(0, 0, 0, 0.2); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1480504049550 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480503450161:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480503450161::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480503450161:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484659568504:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659568504::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659568504:-ms-input-placeholder{ font-size:15px; }

