.cta-lg .textBox-1475020139853 { font-size: 40px; font-weight: bold; }

.cta-lg .textBox-1475020210721 { font-size: 55px; text-align: center; font-weight: bold; color: rgb(249, 105, 14); }

.cta-lg .textBox-1475020357341 { font-weight: bold; color: rgb(249, 105, 14); font-size: 50px; }

.cta-lg .textBox-1475020684511 { font-weight: bold; text-align: center; font-size: 18px; }

.cta-lg .image-1475019778582 { border-width: 3px; }

.cta-sm .textBox-1475020139853 { font-size: 40px; font-weight: bold; }

.cta-sm .textBox-1475020210721 { font-size: 55px; text-align: center; font-weight: bold; color: rgb(249, 105, 14); }

.cta-sm .textBox-1475020357341 { text-align: center; font-weight: bold; color: rgb(249, 105, 14); font-size: 50px; }

.cta-sm .textBox-1475020684511 { font-size: 18px; font-weight: bold; text-align: center; }

.cta-sm .button-1475020436921 { background: rgba(230, 230, 230, 0.498039); border-color: rgb(250, 105, 15); border-width: 3px; color: rgb(250, 105, 15); font-weight: bold; font-size: 24px; }

.cta-sm .button-1475020436921:hover, .cta-sm .button-1475020436921:focus, .cta-sm .button-1475020436921:active { background: rgba(204, 204, 204, 0.498039); }

.cta .image-1484601345039 { border-width: 3px; }

.cta .textBox-1484601345138 { font-weight: bold; font-size: 40px; }

.cta .textBox-1484601345391 { font-weight: bold; text-align: center; font-size: 18px; }

.cta .button-1484601345481 { text-align: center; border-radius: 5px; background: rgba(230, 230, 230, 0.498039); border-color: rgb(250, 105, 15); border-width: 3px; color: rgb(250, 105, 15); font-weight: bold; font-size: 24px; }

.cta-sm .shape-1475019805953 { background: rgba(255, 255, 255, 0.85098); }

.cta-lg .button-1475020436921 { font-size: 24px; text-align: center; color: rgb(250, 105, 15); border-color: rgb(250, 105, 15); font-weight: bold; border-width: 3px; border-radius: 5px; background: rgba(255, 255, 255, 0.498039); }

.cta-lg .button-1475020436921:hover, .cta-lg .button-1475020436921:focus, .cta-lg .button-1475020436921:active { background: rgba(230, 230, 230, 0.498039); }

.cta-lg .shape-1475019805953 { background: rgba(255, 255, 255, 0.85098); border-radius: 5px; }

.cta .textBox-1484601317531 { text-align: center; font-weight: bold; color: rgb(249, 105, 14); font-size: 50px; }

.cta .shape-1484601345067 { border-radius: 5px; background: rgba(255, 255, 255, 0.85098); }

.cta .button-1484601345481:hover, .cta .button-1484601345481:focus, .cta .button-1484601345481:active { background: rgba(204, 204, 204, 0.498039); }

