.cta .textBox-1484830259237 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-style: solid; border-color: rgb(255, 255, 255); border-left-width: 0px; border-right-width: 0px; border-top-width: 3px; font-size: 48px; font-family: "Open Sans"; }

.cta .shape-1484830520289 { background: rgba(3, 0, 0, 0.309804); font-size: 15px; }

.cta .image-1484830237823 { font-size: 15px; }

.cta .textBox-1484830723126 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-left: 0px none rgb(255, 255, 255); border-right: 0px none rgb(255, 255, 255); border-top: 3px none rgb(255, 255, 255); border-bottom-style: none; border-bottom-color: rgb(255, 255, 255); font-size: 28px; font-family: "Open Sans"; }

.cta .emailInput-1484830767567 { border-style: solid; border-color: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484831036393 { background: rgba(3, 0, 0, 0.309804); font-size: 15px; }

.cta .textBox-1484831043275 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-style: solid; border-color: rgb(255, 255, 255); border-left-width: 0px; border-right-width: 0px; border-top-width: 3px; font-family: "Open Sans"; font-size: 28px; }

.cta .textBox-1484831043289 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; border-left: 0px none rgb(255, 255, 255); border-right: 0px none rgb(255, 255, 255); border-top: 3px none rgb(255, 255, 255); border-bottom-style: none; border-bottom-color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 20px; }

.cta .image-1484831043310 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484830767567::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484831093947 { border-style: solid; border-color: rgba(0, 0, 0, 0); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484831093947::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484831093961 { border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-weight: bold; background: rgb(29, 205, 20); font-family: "Open Sans"; font-size: 12px; }

.cta .textBox-1484831207850 { text-align: center; color: rgba(255, 255, 255, 0.560784); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484831249512 { font-size: 15px; text-align: center; color: rgba(255, 255, 255, 0.560784); }

.cta .button-1484830787287 { border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-weight: bold; background: rgb(29, 205, 20); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828167008:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-ms-input-placeholder{ font-size:15px; }

