.cta .textBox-1480502317232 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px; font-size: 46px; font-family: Raleway; }

.cta .textBox-1480502623152 { color: rgb(255, 255, 255); text-align: center; font-family: Merriweather; font-size: 20px; }

.cta .shape-1480503313259 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.380392); }

.cta .textBox-1480503383490 { color: rgb(255, 255, 255); text-align: center; font-family: Merriweather; font-size: 20px; }

.cta .button-1480503462128 { background: rgb(248, 148, 6); border-color: rgb(248, 148, 6); border-style: none; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480503450161-copyOf445-20161130131100600513 { border-style: none; font-size: 15px; font-family: "Open Sans"; }

.cta .shape-1484659194029 { font-family: "Open Sans"; font-size: 15px; background: rgba(0, 0, 0, 0.380392); }

.cta .textBox-1484659214581 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-width: 2px; font-size: 26px; font-family: Raleway; }

.cta .emailInput-1480503450161-copyOf445-20161130131100600513::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484659244624 { border-style: none; font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484659244624::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484659244647 { background: rgb(248, 148, 6); border-color: rgb(248, 148, 6); border-style: none; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484659301474 { color: rgb(255, 255, 255); text-align: center; font-family: Merriweather; font-size: 12px; }

.cta .textBox-1484659301494 { color: rgb(255, 255, 255); text-align: center; font-family: Merriweather; font-size: 12px; }

.cta .textBox-1480503685975 { text-align: center; color: rgb(255, 255, 255); font-size: 12px; }

.cta .emailInput-1480503450161-copyOf445-20161130131100600513:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480503450161-copyOf445-20161130131100600513::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480503450161-copyOf445-20161130131100600513:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484659244624:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659244624::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484659244624:-ms-input-placeholder{ font-size:15px; }

