.cta-lg { background: rgba(0, 0, 0, 0); }

.cta-lg .textBox-1475796932573 { text-align: center; font-weight: bold; font-size: 20px; font-family: "Open Sans"; }

.cta-lg .button-1475797934056 { background: rgba(255, 255, 255, 0.0196078); border-width: 4px; border-color: rgb(255, 176, 59); font-weight: bold; color: rgb(232, 126, 4); border-radius: 10px; font-size: 17px; }

.cta-lg .button-1475797934056:hover, .cta-lg .button-1475797934056:focus, .cta-lg .button-1475797934056:active { background: rgba(230, 230, 230, 0.0196078); }

.cta-lg .textBox-1475796770788 { color: rgb(218, 223, 225); border-width: 3px; border-radius: 33px; background: rgb(237, 243, 244); border-style: solid; border-color: rgb(255, 255, 255); }

.cta-sm .button-1475797934056 { font-weight: bold; color: rgb(232, 126, 4); border-radius: 10px; font-size: 17px; background: rgba(0, 0, 0, 0); border-width: 4px; border-color: rgb(255, 176, 59); font-family: "Open Sans"; }

.cta-sm .textBox-1475796932573 { font-weight: bold; font-size: 20px; text-align: center; font-family: "Open Sans"; }

.cta-sm .textBox-1475796770788 { background: rgb(237, 243, 244); border-top: 3px solid rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-radius: 10px; }

.cta-sm .button-1475797934056:hover, .cta-sm .button-1475797934056:focus, .cta-sm .button-1475797934056:active { background: rgba(0, 0, 0, 0); }

.cta-sm { background: rgba(0, 0, 0, 0); }

.cta .textBox-1483704189402 { background: rgb(237, 243, 244); border-top: 3px solid rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-radius: 10px; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1483704189403 { font-weight: bold; text-align: center; font-family: "Open Sans"; font-size: 19px; }

.cta .button-1483704189404 { font-weight: bold; color: rgb(232, 126, 4); border-radius: 10px; background: rgba(0, 0, 0, 0); border-width: 4px; border-color: rgb(255, 176, 59); font-family: "Open Sans"; font-size: 17px; }

.cta .emoji-1483704189403 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1483704189405 { font-size: 15px; }

.cta .button-1483704189404:hover, .cta-sm .button-1483704189404:focus, .cta-sm .button-1483704189404:active { background: rgba(0, 0, 0, 0); }

