.cta .image-1484829024398 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484829361745 { text-align: center; font-weight: bold; color: rgb(247, 5, 27); font-size: 36px; font-family: "Merriweather Sans"; }

.cta .textBox-1484829403201 { text-align: center; font-size: 16px; font-family: "Merriweather Sans"; }

.cta .emailInput-1484829489775 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484829489775::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484829555094 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(247, 5, 27); color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; font-family: "Merriweather Sans"; }

.cta .textBox-1484829606093 { text-align: center; color: rgba(34, 34, 34, 0.560784); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484829668456 { background: rgb(250, 251, 246); font-size: 15px; font-family: "Open Sans"; }

.cta .image-1484829672717 { font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1484829690768 { text-align: center; font-weight: bold; color: rgb(247, 5, 27); font-size: 26px; font-family: "Merriweather Sans"; }

.cta .textBox-1484829713622 { text-align: center; font-size: 12px; font-family: "Merriweather Sans"; }

.cta .emailInput-1484829743760 { font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484829743760::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484829743774 { border-style: none; border-color: rgb(204, 204, 204); background: rgb(247, 5, 27); color: rgb(255, 255, 255); font-family: "Merriweather Sans"; font-size: 13px; }

.cta .shape-1484829001277 { background: rgb(250, 251, 246); font-size: 15px; font-family: "Open Sans"; }

.cta .emailInput-1484828167008:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-ms-input-placeholder{ font-size:15px; }

