.cta-lg { background: rgba(0, 0, 0, 0); }

.cta-lg .textBox-1478203527132 { border-width: 4px 4px 4px 0px; border-color: rgb(46, 120, 190); border-style: solid; border-radius: 20px; background: rgb(255, 255, 255); }

.cta-lg .textBox-1478203674988 { font-weight: bold; font-size: 23px; font-family: "Open Sans"; }

.cta-lg .button-1478203730908 { border-width: 3px; border-color: rgb(46, 120, 190); color: rgb(46, 120, 190); font-weight: bold; font-size: 15px; background: rgba(230, 230, 230, 0.219608); border-style: groove; font-family: "Open Sans"; }

.cta-lg .button-1478203730908:hover, .cta-lg .button-1478203730908:focus, .cta-lg .button-1478203730908:active { background: rgba(204, 204, 204, 0.219608); }

.cta-sm { background: rgba(0, 0, 0, 0); }

.cta-sm .textBox-1478203873338 { border-width: 4px 4px 4px 0px; border-color: rgb(46, 120, 190); border-style: solid; border-radius: 20px; background: rgb(255, 255, 255); }

.cta-sm .textBox-1478203674988 { font-family: Lato; font-weight: bold; font-size: 28px; }

.cta-sm .button-1478203730908 { background: rgb(255, 255, 255); border-width: 3px; border-color: rgb(46, 120, 190); color: rgb(46, 120, 190); font-weight: bold; font-size: 15px; font-family: Lato; }

.cta-sm .button-1478203730908:hover, .cta-sm .button-1478203730908:focus, .cta-sm .button-1478203730908:active { background: rgb(230, 230, 230); }

.cta-sm .textBox-1478203527132 { border-width: 4px 4px 4px 0px; border-color: rgb(46, 120, 190); border-style: solid; border-radius: 20px; background: rgb(255, 255, 255); }

.cta-sm .button-1478203873462 { background: rgb(255, 255, 255); border-width: 3px; border-color: rgb(46, 120, 190); color: rgb(46, 120, 190); font-weight: bold; font-size: 15px; font-family: Lato; }

.cta-sm .button-1478203873462:hover, .cta-sm .button-1478203873462:focus, .cta-sm .button-1478203873462:active { background: rgb(230, 230, 230); }

.cta .textBox-1478203674988 { font-family: "Open Sans"; text-align: center; font-size: 18px; }

.cta .button-1478203730908 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1478203873347 { font-size: 15px; }

.cta .button-1478203873462 { font-family: Lato; font-size: 16px; }

.cta .textBox-1484322099680 { font-weight: bold; font-family: "Open Sans"; text-align: center; font-size: 18px; }

