.cta .shape-1484754076952 { font-family: "Open Sans"; font-size: 15px; background: rgb(153, 13, 36); }

.cta .textBox-1484754186424 { color: rgb(255, 255, 255); font-weight: bold; font-family: Quantico; font-size: 40px; }

.cta .textBox-1484754497436 { color: rgb(255, 255, 255); font-weight: initial; font-family: Quantico; font-size: 20px; }

.cta .icon-1484754668089 { font-family: "Open Sans"; color: rgb(153, 13, 36); }

.cta .textBox-1484754688662 { color: rgb(153, 13, 36); font-weight: bold; font-family: Quantico; font-size: 20px; }

.cta .button-1484754780773 { border-style: none; border-color: rgb(204, 204, 204); font-weight: bold; background: rgba(255, 207, 0, 0.992157); color: rgb(181, 16, 16); font-family: Quantico; font-size: 16px; }

.cta .emailInput-1484755030761 { border-style: none; border-color: rgb(204, 204, 204); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484755030761::-webkit-input-placeholder { font-size: 15px; }

.cta .textBox-1484755069048 { color: rgba(255, 255, 255, 0.388235); text-decoration: none; font-family: "Open Sans"; font-size: 15px; }

.cta .icon-1484755185063 { color: rgba(34, 34, 34, 0.85098); font-family: "Open Sans"; }

.cta .shape-1484755295511 { background: rgb(192, 9, 39); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484755308493 { font-family: "Open Sans"; font-size: 15px; background: rgb(153, 13, 36); }

.cta .shape-1484755310133 { font-family: "Open Sans"; font-size: 15px; background: rgb(153, 13, 36); }

.cta .textBox-1484755332608 { color: rgb(255, 255, 255); font-weight: bold; font-family: Quantico; font-size: 24px; }

.cta .textBox-1484755332637 { color: rgb(255, 255, 255); font-weight: initial; font-family: Quantico; font-size: 14px; }

.cta .icon-1484755372159 { color: rgba(34, 34, 34, 0.85098); font-family: "Open Sans"; }

.cta .emailInput-1484755426531 { border-style: none; border-color: rgb(204, 204, 204); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484755426531::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484755441696 { border-style: none; border-color: rgb(204, 204, 204); font-weight: bold; background: rgba(255, 207, 0, 0.992157); color: rgb(181, 16, 16); font-family: Quantico; font-size: 16px; }

.cta .image-1484841152927 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484841203338 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484753534040 { font-family: "Open Sans"; font-size: 15px; background: rgb(192, 9, 39); }

.cta .textInput-1484754327326:-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326::-moz-placeholder{ font-size:15px; }

.cta .textInput-1484754327326:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755030761:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484755426531:-ms-input-placeholder{ font-size:15px; }

