.cta-lg .textBox-1478556188534 { color: rgb(255, 255, 255); font-weight: bold; font-size: 100px; font-family: "Open Sans"; }

.cta-lg .textBox-1478556310945 { color: rgb(255, 255, 255); font-family: Lato; font-weight: bold; font-size: 30px; }

.cta-lg .textBox-1478556419444 { color: rgb(255, 255, 255); font-size: 20px; }

.cta-lg .textBox-1478556474113 { font-weight: bold; color: rgb(255, 255, 255); font-size: 70px; }

.cta-lg .textBox-1478556541186 { color: rgb(255, 255, 255); font-weight: bold; font-size: 20px; }

.cta-lg .button-1478556708593 { border-radius: 100px; background: rgba(0, 0, 0, 0); border-color: rgb(255, 255, 255); border-width: 4px; border-style: double; color: rgb(255, 255, 255); font-weight: bold; font-size: 23px; font-family: "Open Sans"; }

.cta-lg .shape-1478556771431 { background: rgba(30, 30, 32, 0.6); }

.cta-lg .button-1478556708593:hover, .cta-lg .button-1478556708593:focus, .cta-lg .button-1478556708593:active { background: rgba(0, 0, 0, 0); }

.cta-lg .button-1478556931645 { border-radius: 100px; background: rgba(0, 0, 0, 0); border-color: rgb(255, 255, 255); border-width: 4px; border-style: double; color: rgb(255, 255, 255); font-weight: bold; font-size: 23px; text-align: center; font-family: "Open Sans"; }

.cta-lg .button-1478556931645:hover, .cta-lg .button-1478556931645:focus, .cta-lg .button-1478556931645:active { background: rgba(0, 0, 0, 0); }

.cta-lg .shape-1478557172301 { border-width: 1px; border-color: rgb(255, 255, 255); border-style: solid; background: rgba(0, 0, 0, 0); }

.cta-lg .shape-1478557220916 { border-left-color: rgb(255, 255, 255); }

.cta .shape-1484631763296 { background: rgba(30, 30, 32, 0.6); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1478556188534 { font-size: 100px; }

.cta .textBox-1484631806557 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 36px; }

.cta .textBox-1478556310945 { font-family: Lato; font-size: 30px; }

.cta .textBox-1484631843256 { color: rgb(255, 255, 255); font-weight: bold; font-family: Lato; font-size: 18px; }

.cta .button-1478556708593 { font-family: "Open Sans"; font-size: 23px; }

.cta .button-1478556931645 { font-family: "Open Sans"; font-size: 23px; }

.cta .shape-1478556771431 { font-size: 15px; font-family: "Open Sans"; }

.cta .image-1478556097108 { }

.cta .textBox-1478556419444 { font-family: "Open Sans"; }

.cta .textBox-1478556474113 { font-family: "Open Sans"; }

.cta .textBox-1478556541186 { font-family: "Open Sans"; }

.cta .shape-1478557172301 { font-size: 15px; }

.cta .shape-1478557220916 { font-size: 15px; }

.cta .textBox-1484631948483 { color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; }

.cta .textBox-1484631948506 { font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 26px; }

.cta .button-1484632037100 { color: rgb(255, 255, 255); background: rgba(255, 255, 255, 0); border-color: rgb(255, 255, 255); border-style: double; border-width: 2px; border-radius: 40px; font-size: 15px; }

.cta .button-1484632109152 { font-size: 15px; color: rgb(255, 255, 255); background: rgba(255, 255, 255, 0); border-color: rgb(255, 255, 255); border-style: double; border-width: 2px; border-radius: 40px; }

.cta .emoji-1484632161231 { font-size: 15px; }

.cta .emoji-1484632162871 { font-size: 15px; }

.cta .emoji-1484632164831 { font-size: 15px; }

.cta .emoji-1484632167882 { font-size: 15px; }

.cta .emoji-1484632172976 { font-size: 15px; }

.cta .emoji-1484632195277 { font-size: 15px; }

.cta .emoji-1484632196946 { font-size: 15px; }

.cta .icon-1484632203513 { font-family: "Open Sans"; }

.cta .textBox-1484631948527 { color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 20px; }

