.cta .button-1480660688445 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(255, 176, 59); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480660652190-copyOf458-20161202084836050035 { border-color: rgba(204, 204, 204, 0.490196); font-size: 15px; font-family: "Open Sans"; }

.cta .textBox-1480660907249 { font-weight: initial; text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; }

.cta .shape-1480661682072 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(3, 201, 169); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1480661842490 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(255, 255, 255); }

.cta .shape-1484657256997 { border-color: rgb(255, 255, 255); border-width: 3px; border-style: solid; background: rgb(3, 201, 169); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1480660652190-copyOf458-20161202084836050035::-webkit-input-placeholder { font-size: 15px; }

.cta .emailInput-1484657269690 { border-color: rgba(204, 204, 204, 0.490196); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484657269690::-webkit-input-placeholder { font-size: 15px; }

.cta .button-1484657269706 { color: rgb(255, 255, 255); font-weight: bold; border-style: none; background: rgb(255, 176, 59); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484657280453 { font-weight: initial; text-align: center; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 16px; }

.cta .textBox-1484657298938 { font-style: initial; font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Montserrat; font-size: 26px; }

.cta .image-1480661759655 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484657325345 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1480660310729 { font-style: initial; font-weight: bold; text-align: center; color: rgb(255, 255, 255); font-family: Montserrat; font-size: 35px; }

.cta .emailInput-1480660652190-copyOf458-20161202084836050035:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480660652190-copyOf458-20161202084836050035::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1480660652190-copyOf458-20161202084836050035:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484657269690:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484657269690::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484657269690:-ms-input-placeholder{ font-size:15px; }

