<div class="left-nav" style="height: {{innerHeight}}px">
    <h3>Main</h3>
    <ul>
        <li>
            <a 
                class="campaigns" href="#/campaigns/all/table" 
                active-link-start="campaigns" active-link="active"
                onclick="window.scroll(0,0);"
            >
                Campaigns
            </a>
        </li>
        <li>
            <a
                class="analytics" href="#/analytics"
                active-link="active"  
                active-link-prefix="analytics"
                onclick="window.scroll(0,0);"
            >
                Analytics
            </a>
        </li>
        <li>
            <a 
                class="settings" href="#/settings/profile" 
                active-link="active" active-link-prefix="settings/"
                onclick="window.scroll(0,0);"
            >
                Settings
            </a>
        </li>
        <li>
            <a 
                class="support" href="#/support"
                active-link="active"
                onclick="window.scroll(0,0);"
            >
                Support
            </a>
        </li>
    </ul>

    <hr/>
    
    <h3>Your Data</h3>
    <ul>
        <li>
            <a
                class="emails" active-link-prefix="emails/"
                href="#/emails"
                active-link="active"
                onclick="window.scroll(0,0);"
            >
                Emails
            </a>
        </li>
        <!-- <li>
            <a
                class="emails" active-link-prefix="urls/"
                href="#/urls"
                active-link="active"
            >
                URLs
            </a>
        </li> -->
        <li>
            <a 
                class="traffic" active-link-prefix="traffic/"
                href="#/traffic" active-link="active"
                onclick="window.scroll(0,0);"
            >
                Traffic
            </a>
        </li>
        <li>
            <a 
                class="integrations" active-link-prefix="integrations/"
                href="#/integrations" active-link="active"
                onclick="window.scroll(0,0);"
            >
                Integrations
            </a>
        </li>
    </ul>

</div>