<div class="settings-nav" style="height: {{innerHeight}}px">
    <ul>
        <li>
            <a class="settings-profile" href="#/settings/profile" active-link="active">
                Profile
            </a>
        </li>
        <li>
            <a class="settings-password" href="#/settings/password" active-link="active">
                Password
            </a>
        </li>
        <li>
            <a class="settings-tracking" href="#/settings/tracking" active-link="active">
                Tracking
            </a>
        </li>
        <li>
            <a class="settings-clients" href="#/settings/clients" active-link="active">
                Websites
            </a>
        </li>
        <li>
            <a class="settings-payment" href="#/settings/payment" active-link="active">
                Payment
            </a>
        </li>
    </ul>
</div>
