.cta-lg .textBox-1477435316708 { background: rgba(30, 30, 32, 0.701961); }

.cta-sm { background: rgb(0, 0, 0); }

.cta-lg { background: rgb(0, 0, 0); }

.cta-sm .textBox-1477435383189 { font-weight: bold; color: rgb(255, 255, 255); font-size: 40px; text-align: center; font-family: "Open Sans"; }

.cta-lg .textBox-1477435383189 { font-weight: bold; color: rgb(255, 255, 255); font-size: 40px; text-align: center; font-family: "Open Sans"; }

.cta-sm .textBox-1477435456601 { color: rgb(255, 255, 255); text-align: center; font-size: 18px; font-family: "Open Sans"; }

.cta-lg .textBox-1477435456601 { color: rgb(255, 255, 255); text-align: center; font-size: 18px; font-family: "Open Sans"; }

.cta-sm .button-1477435607562 { color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); border-color: rgb(171, 24, 19); border-width: 2px; font-weight: bold; font-size: 15px; font-family: "Open Sans"; }

.cta-lg .button-1477435607562 { color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); border-color: rgb(171, 24, 19); border-width: 2px; font-weight: bold; font-size: 15px; font-family: "Open Sans"; }

.cta-sm .button-1477435607562:hover, .cta-sm .button-1477435607562:focus, .cta-sm .button-1477435607562:active { background: rgba(0, 0, 0, 0); }

.cta-lg .button-1477435607562:hover, .cta-lg .button-1477435607562:focus, .cta-lg .button-1477435607562:active { background: rgba(0, 0, 0, 0); }

.cta-sm .textBox-1477435693467 { color: rgb(255, 255, 255); }

.cta-lg .textBox-1477435693467 { color: rgb(255, 255, 255); }

.cta-sm .textBox-1477435718682 { font-weight: initial; font-size: 15px; text-align: center; text-decoration: underline; color: rgb(171, 24, 19); font-family: "Open Sans"; }

.cta-lg .textBox-1477435718682 { font-weight: initial; font-size: 15px; text-align: center; text-decoration: underline; color: rgb(171, 24, 19); font-family: "Open Sans"; }

.cta-sm .textBox-1477435316708 { background: rgba(30, 30, 32, 0.701961); }

.cta .textBox-1477435316708 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1477435383189 { font-size: 40px; }

.cta .textBox-1477435456601 { font-size: 18px; }

.cta .textBox-1484629228599 { background: rgba(30, 30, 32, 0.701961); font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484629228614 { font-weight: bold; color: rgb(255, 255, 255); text-align: center; font-family: "Open Sans"; font-size: 40px; }

.cta .textBox-1484629228646 { color: rgb(255, 255, 255); text-align: center; font-family: "Open Sans"; font-size: 14px; }

.cta .button-1484629228665 { color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); border-color: rgb(171, 24, 19); border-width: 2px; font-weight: bold; font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484629228685 { font-weight: initial; text-align: center; text-decoration: underline; color: rgb(171, 24, 19); font-family: "Open Sans"; font-size: 15px; }

.cta .button-1484629228665:hover, .cta .button-1484629228665:focus, .cta .button-1484629228665:active { background: rgba(0, 0, 0, 0); }

