.cta-lg .shape-1475867819673 { border-radius: 10px; background: rgba(40, 33, 33, 0.709804); }

.cta-sm .emailInput-1475867915141 { border-radius: 6px; }

.cta-lg .emailInput-1475867915141 { border-radius: 6px; }

.cta-sm .textInput-1475867889957 { border-radius: 6px; }

.cta-lg .textInput-1475867889957 { border-radius: 6px; }

.cta-sm .shape-1475867819673 { border-radius: 10px; background: rgba(40, 33, 33, 0.709804); }

.cta-lg .shape-1475868823405 { background: rgb(248, 249, 251); }

.cta-sm .textBox-1475868895752 { font-weight: bold; color: rgb(253, 129, 54); font-size: 55px; }

.cta-lg .textBox-1475868895752 { font-weight: bold; color: rgb(253, 129, 54); font-size: 55px; }

.cta-sm .textBox-1475868970066 { color: rgb(253, 129, 54); font-weight: bold; text-align: center; }

.cta-lg .textBox-1475868970066 { color: rgb(253, 129, 54); font-weight: bold; text-align: center; }

.cta-sm .textBox-1475869091308 { text-decoration: underline; color: rgb(149, 165, 166); font-size: 13px; }

.cta-lg .textBox-1475869091308 { text-decoration: underline; color: rgb(149, 165, 166); font-size: 13px; }

.cta-sm .shape-1475869275448 { background: rgb(248, 249, 251); }

.cta-lg .shape-1475869275448 { background: rgb(248, 249, 251); }

.cta-sm .shape-1475869313715 { background: rgb(248, 249, 251); }

.cta-lg .shape-1475869313715 { background: rgb(248, 249, 251); }

.cta-sm .shape-1475868823405 { background: rgb(248, 249, 251); }

.cta-sm .button-1475868087324 { border-radius: 6px; background: rgb(253, 126, 52); color: rgb(255, 255, 255); font-weight: bold; font-size: 25px; border-color: rgba(173, 173, 173, 0.0196078); }

.cta .shape-1475869313715 { background: rgb(248, 249, 251); }

.cta .shape-1484623989665 { background: rgb(248, 249, 251); font-size: 15px; }

.cta .textBox-1475868895752 { font-size: 55px; font-family: "Open Sans"; }

.cta .textBox-1475868970066 { font-family: "Open Sans"; }

.cta .textBox-1484624100270 { font-weight: bold; color: rgb(253, 129, 54); font-family: "Open Sans"; text-align: center; font-size: 28px; }

.cta .textBox-1484624100288 { color: rgb(253, 129, 54); font-weight: bold; text-align: center; font-family: "Open Sans"; font-size: 14px; }

.cta .shape-1475867819673 { font-family: "Open Sans"; }

.cta .button-1475868087324 { font-family: "Open Sans"; font-size: 25px; }

.cta .button-1484624435890 { font-family: "Open Sans"; border-radius: 6px; background: rgb(253, 126, 52); color: rgb(255, 255, 255); font-weight: bold; border-color: rgba(173, 173, 173, 0.0196078); font-size: 20px; }

.cta .emailInput-1484624435912 { border-radius: 6px; color: rgb(111, 111, 111); font-size: 15px; }

.cta .textInput-1484624435934 { border-radius: 6px; font-family: "Open Sans"; color: rgb(111, 111, 111); font-size: 15px; }

.cta .textInput-1484624435934::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta .emailInput-1484624435912::-webkit-input-placeholder { color: rgb(111, 111, 111); font-size: 15px; }

.cta-lg .button-1475868087324 { border-radius: 6px; background: rgb(253, 126, 52); color: rgb(255, 255, 255); font-weight: bold; font-size: 25px; border-color: rgba(173, 173, 173, 0.0196078); }

.cta .textBox-1475869091308 { font-family: "Open Sans"; font-size: 13px; }

.cta .shape-1484624435864 { border-radius: 10px; background: rgba(40, 33, 33, 0.709804); font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1475868823405 { background: rgb(248, 249, 251); }

.cta .textBox-1484625802820 { text-decoration: underline; color: rgb(149, 165, 166); font-family: "Open Sans"; font-size: 13px; }

.cta .textInput-1483704453537:-moz-placeholder{ font-size:15px; }

.cta .textInput-1483704453537::-moz-placeholder{ font-size:15px; }

.cta .textInput-1483704453537:-ms-input-placeholder{ font-size:15px; }

.cta .textInput-1484624435934:-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .textInput-1484624435934::-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .textInput-1484624435934:-ms-input-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1484624435912:-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1484624435912::-moz-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

.cta .emailInput-1484624435912:-ms-input-placeholder{ font-size:15px; color:rgb(111, 111, 111); }

