.cta .textBox-1480481943711 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); border-style: dotted; border-color: rgb(255, 255, 255); font-family: Prompt; font-size: 40px; }

.cta .button-1480482396921-copyOf440-20161130074135487982-copyOf433-20161130072914178596 { color: rgb(255, 255, 255); font-weight: bold; background: rgb(246, 71, 71); border-color: rgb(246, 71, 71); font-family: Montserrat; font-size: 15px; }

.cta .textBox-1480484962920 { text-align: center; font-weight: bold; font-size: 18px; color: rgb(255, 255, 255); font-family: "Open Sans"; }

.cta .textBox-1480485095029 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-size: 18px; font-family: "Open Sans"; }

.cta .textBox-1484660166603 { font-weight: bold; text-align: center; color: rgb(255, 255, 255); border-style: dotted; border-color: rgb(255, 255, 255); font-family: Prompt; font-size: 36px; }

.cta .textBox-1484660186857 { text-align: center; color: rgb(255, 255, 255); font-weight: bold; font-family: "Open Sans"; font-size: 14px; }

.cta .textBox-1484660186872 { text-align: center; font-weight: bold; color: rgb(255, 255, 255); font-family: "Open Sans"; font-size: 14px; }

.cta .button-1484660246515 { color: rgb(255, 255, 255); font-weight: bold; background: rgb(246, 71, 71); border-color: rgb(246, 71, 71); font-size: 15px; font-family: Montserrat; }

.cta .textBox-1484660246558 { color: rgb(252, 252, 252); text-decoration: none; font-weight: initial; font-family: Nobile; }

.cta .image-1484660246527 { font-family: "Open Sans"; }

.cta .shape-1484843349094 { background: rgba(0, 0, 0, 0.298039); }

.cta .image-1484843412454 { font-family: "Open Sans"; }

.cta .shape-1484843431329 { background: rgba(0, 0, 0, 0.298039); }

.cta .textBox-1480483104232 { color: rgb(252, 252, 252); text-decoration: none; font-family: Nobile; font-weight: initial; }

