.cta-lg .shape-1475343205479 { background: rgb(154, 18, 179); }

.cta-lg .shape-1475343258208 { background: rgb(248, 148, 6); }

.cta-lg .textBox-1475343310038 { font-size: 50px; text-align: center; font-weight: bold; color: rgb(242, 38, 19); }

.cta-lg .button-1475343932305 { color: rgb(38, 166, 91); font-weight: bold; font-size: 20px; background: rgba(70, 137, 102, 0.00784314); border-width: 2px; }

.cta-lg .button-1475343932305:hover, .cta-lg .button-1475343932305:focus, .cta-lg .button-1475343932305:active { background: rgba(53, 103, 77, 0.00784314); }

.cta-lg .emailInput-1475343896538 { border-radius: 4px; }

.cta-lg .textInput-1475343877859 { border-radius: 4px; }

.cta-sm .shape-1475343162247 { background: rgb(155, 89, 182); }

.cta-sm .shape-1475343188199 { background: rgb(52, 152, 219); }

.cta-sm .shape-1475343205479 { background: rgb(38, 166, 91); }

.cta-sm .shape-1475343258208 { background: rgb(248, 148, 6); }

.cta-sm .textBox-1475343466188 { font-weight: bold; font-size: 18px; }

.cta-sm .textBox-1475343685010 { font-size: 20px; }

.cta-sm .textBox-1475343752330 { font-size: 20px; }

.cta-sm .textBox-1475343805185 { font-size: 20px; }

.cta-sm .textBox-1475343310038 { font-size: 50px; font-weight: bold; text-align: center; color: rgb(242, 38, 19); }

.cta-sm .button-1475611225162:hover, .cta-sm .button-1475611225162:focus, .cta-sm .button-1475611225162:active { background: rgba(0, 0, 0, 0.00784314); }

.cta-sm .button-1475611225162 { color: rgb(42, 187, 155); border-color: rgb(101, 198, 187); border-width: 2px; background: rgba(0, 0, 0, 0.00784314); font-weight: bold; text-align: center; }

.cta .shape-1483700769811 { background: rgb(155, 89, 182); }

.cta .textBox-1483700769812 { font-size: 50px; font-weight: bold; text-align: center; color: rgb(242, 38, 19); }

.cta .textBox-1483700769814 { font-size: 20px; }

.cta-lg .shape-1475343188199 { background: rgb(30, 139, 195); }

.cta-lg .textBox-1475343466188 { font-weight: bold; font-size: 26px; }

.cta-lg .textBox-1475343685010 { font-size: 24px; }

.cta-lg .textBox-1475343752330 { font-size: 24px; }

.cta-lg .textBox-1475343805185 { font-size: 24px; }

.cta-lg .shape-1475343162247 { background: rgb(73, 219, 45); }

.cta .shape-1483700769812 { background: rgb(248, 148, 6); }

.cta .button-1475343932305 { border-radius: 5px; border-color: rgb(0, 155, 117); font-family: "Open Sans"; font-size: 20px; }

.cta .button-1475611225162 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1483700769813 { font-weight: bold; font-size: 20px; }

