.cta .textBox-1484832065254 { font-weight: bold; color: rgba(34, 34, 34, 0.780392); font-family: Quantico; font-size: 24px; }

.cta .textBox-1484832106387 { color: rgb(31, 117, 254); font-weight: bold; font-family: Quantico; font-size: 42px; }

.cta .image-1484831918286 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484832238062 { color: rgba(34, 34, 34, 0.780392); font-weight: initial; font-family: Quantico; font-size: 18px; }

.cta .button-1484832321044 { color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-color: rgba(0, 0, 0, 0); text-align: left; background: rgba(17, 109, 255, 0.74902); font-size: 15px; font-family: Quantico; }

.cta .shape-1484832379347 { border-left-color: rgba(0, 0, 0, 0.309804); font-family: "Open Sans"; }

.cta .shape-1484832589862 { background: rgba(215, 215, 215, 0.901961); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484832594037 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484832609245 { color: rgb(31, 117, 254); font-weight: bold; font-family: Quantico; font-size: 24px; }

.cta .textBox-1484832625675 { font-weight: bold; color: rgba(34, 34, 34, 0.780392); font-family: Quantico; font-size: 18px; }

.cta .textBox-1484832642315 { color: rgba(34, 34, 34, 0.780392); font-weight: initial; font-family: Quantico; font-size: 14px; }

.cta .shape-1484832678492 { border-left-color: rgba(0, 0, 0, 0.309804); font-family: "Open Sans"; }

.cta .button-1484832678508 { color: rgb(255, 255, 255); font-weight: bold; border-style: solid; border-color: rgba(0, 0, 0, 0); text-align: left; background: rgba(17, 109, 255, 0.74902); font-size: 15px; font-family: Quantico; }

.cta .shape-1484831693156 { background: rgba(215, 215, 215, 0.901961); font-family: "Open Sans"; font-size: 15px; }

.cta .emailInput-1484828167008:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484828167008:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829489775:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484829743760:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484830767567:-ms-input-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947::-moz-placeholder{ font-size:15px; }

.cta .emailInput-1484831093947:-ms-input-placeholder{ font-size:15px; }

