<div style="background: #f6f6f6; height: 100%; overflow:hidden;">
    <div style="background: white; text-align:center; height: 80px; line-height: 80px;">
        <img src="assets/images/oops/logo.png" style="width:100px; height: auto;" alt="Aiva" />
    </div>
    
    <div style="text-align:center; margin-top: 64px">
        <img src="assets/images/oops/oops.png"  style="width:120px; height: auto;" alt="Oops..." />
    </div>
    <div style="text-align:center; margin-top: 52px;">
        <img src="assets/images/oops/oops-text.png"  style="width:540px; height: auto;" alt="Oops..." />
    </div>
    <div style="text-align:center; margin-top: 30px;" class='form'>
        <a style='border-radius:5px; border:none; padding: 0px 20px; line-height: 48px; font-size:16px; margin-right: 5px;' href="//www.google.com/chrome/" class='btn btn-success'>Download Chrome</a>
        <a style='border-radius:5px; border:none; padding: 0px 20px; line-height: 48px; font-size:16px;' href="/" class='btn btn-success'>Back to HomePage</a>
    </div>
    
</div>