.cta .textBox-1484461780240 { color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 16px; }

.cta .image-1484461723427 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484461408037 { font-family: "Open Sans"; font-size: 15px; }

.cta .video-1484578417752 { font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484581629259 { font-family: "Open Sans"; font-size: 15px; }

.cta .video-1484581629284 { font-family: "Open Sans"; font-size: 15px; }

.cta .shape-1484581629355 { background: rgb(237, 28, 36); font-family: "Open Sans"; font-size: 15px; }

.cta .image-1484581629432 { font-family: "Open Sans"; font-size: 15px; }

.cta .textBox-1484581629513 { color: rgb(255, 255, 255); font-weight: bold; font-family: Prompt; font-size: 16px; }

.cta .shape-1484461291669 { background: rgb(237, 28, 36); font-family: "Open Sans"; font-size: 15px; }

